<a href="https://colab.research.google.com/github/diego2003-her14/amigo-secreto/blob/main/Python_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python para Data Science

Notebook para el curso de Python para Data Science publicado en la plataforma de [Alura Latam](https://www.aluracursos.com/)

# Introducción a Python
¡Vamos a conocer Python, nuestro ambiente de estudio, y también generaremos nuestro primer código en este lenguaje!

## Google Colaboratory

Ya aprendimos qué es [Python](https://www.python.org/) y ahora aprenderemos a usar nuestra herramienta de ejecución [Google Colaboratory](https://colab.research.google.com/) para programar en un notebook interactivo.

Vamos a probar algunas funciones de este ambiente.

 **`>>> Usa esta celda para mover <<<`**

## ¡Hola mundo!

Vamos a conocer un poco más de cerca nuestro notebook. Para ello ejecutaremos nuestro primer comando en Python: [`print()`](https://docs.python.org/3/library/functions.html#print)

In [ ]:
print('Hola mundo!')

Hola mundo!

In [ ]:
21

21

In [ ]:
print('Me llamo Diego A. Bustos Herrera y, amo la Ciencia de Datos')

Me llamo Diego A. Bustos Herrera y, amo la Ciencia de Datos

# Practica 1

1 - Imprime la frase "Escuela de Datos de Alura".

In [ ]:
print('Escuela de Datos de Alura')

Escuela de Datos de Alura

2 - Imprime tu nombre y tu apellido siguiendo la estructura a continuación:

Nombre: [tu nombre]

Apellido: [tu apellido]

In [ ]:
print('Nombre: Diego')
print('Apellido: Bustos')

Nombre: Diego
Apellido: Bustos

3 - Imprime tu primer nombre letra por letra. Por ejemplo, si mi nombre es Álvaro, la salida sería:

Á

L

V

A

R

O

In [ ]:
print('D')
print('I')
print('E')
print('G')
print('O')

D
I
E
G
O

4 - Imprime tu fecha de nacimiento en formato día mes año. Recuerda que los valores de día y año no deben estar entre comillas. Suponiendo una fecha de cumpleaños el 28 de febrero de 2003, el formato debe ser como el siguiente:

28 febrero 2003

In [ ]:
print(14, 'de octubre del', 2003)

14 de octubre del 2003

5 - Imprime, en una sola instrucción print, el año actual en el que estás realizando este curso. El valor del año debe ser un dato numérico, y la salida de print debe ser la siguiente:

Año actual: [año]

In [ ]:
print('Año actual:', 2025)

Año actual: 2025

# Manipulando los datos

Vamos a aprender sobre las variables en Python, cómo declararlas y utilizarlas además de conocer otros comandos de este lenguaje. :D

## Variables

En Data Science trabajamos con varios tipos de datos e informaciones, entonces es esencial saber cómo trabajar con las variables.

Las variables en Python se crean cuando atribuimos un valor a ella.

Para esto, colocamos el nombre de la variable, el signo de igual (`=`) y el valor que queremos atribuirle.

In [1]:
5

5

In [4]:
id(5)

10750984

In [5]:
edad = 5

In [6]:
id(edad)

10750984

In [7]:
print(id(edad))
print(id(5))

10750984
10750984

In [8]:
numerocinco = 5

In [9]:
id(numerocinco)

10750984

In [12]:
nombre = 'Gabriel'

In [13]:
id('Gabriel')

138242218419120

In [14]:
id(nombre)

138242218419120

Existen algunos tipos de nomes que **no** podemos definir para las variables:

- **Nombres que comiencen con números**
  - Ejemplos: `10_notas`, `2_nombre_casa`, etc.
- **Palabras separadas por espacio**
  - Ejemplos: `Nombre escuela`, `notas estudiantes`, etc.
- **Nombres de funciones de Python**
  - Ejemplos: `print`, `type`, etc.

> Las letras mayúsculas y minúsculas generarán diferentes variables. La variable `edad` es diferente de `Edad` que a su vez es diferente de `EDAD`:
``` Python
edad = 1
Edad = 2
EDAD = 3
_edad = 4
_edad_ = 5
print(edad, Edad, EDAD, _edad, _edad_)
1 2 3 4 5
```

## Tipos de variables

Cada variable contiene una clase específica con respecto al tipo de objeto al cual esta hace referencia. Estas clases serán diferentes de acuerdo con el tipo de dato que le sea atribuido a una variable.

Para conocer la clase de cada elemento usamos la función [`type()`](https://docs.python.org/3/library/functions.html#type)

In [15]:
num_1 = 6

In [16]:
type(num_1)

int

In [17]:
apellido = 'Bustos'

In [18]:
type(apellido)

str

In [19]:
verdadero = True

In [20]:
type(verdadero)

bool

In [21]:
probabilidad = 10.5

In [22]:
type(probabilidad)

float

En un conjunto de datos escolares podemos tener varios tipos de informaciones. Supongamos que tenemos acceso a la ficha de datos del alumno *Penélope Camacho*, cómo transformamos este nombre en variables de Python?

#### Ficha:

- Nombre: Penélope Camacho
- Edad: 11 años
- Promedio del semestre: 9,75
- Situación de aprobación: Verdadera (aprobado)

In [23]:
nombre_estudiante = 'Penelope Camacho'
edad_estudiante = 11
promedio_estudiante = 9.75
aprobado_estudiante = True

In [30]:
print(nombre_estudiante, edad_estudiante, promedio_estudiante, aprobado_estudiante)
print(type(nombre_estudiante), type(edad_estudiante), type(promedio_estudiante), type(aprobado_estudiante))

Penelope Camacho 11 9.75 True
<class 'str'> <class 'int'> <class 'float'> <class 'bool'>

## Variables numéricas

Entre los tipos de datos numéricos vamos a enfocarnos en los tipos `entero` y `float`.

Tenemos una tabla de información sobre los diversos cargos, cantidad de personas empleadas y el salario correspondiente:

|Cargo | Cantidad | Salario|
|---|---|---|
|Vigilante | 5 | 300 |
|Docente | 16| 500|
|Coordinador| 2 |600|

Necesitamos trabajar con estos datos para obtener:

- La cantidad total de empleados;
- La diferencia entre el salario más bajo y más alto; y
- El promedio ponderado de los salarios de los empleados de la escuela.

In [38]:
c_vigilante = 5
s_vigilante = 300

c_docente = 16
s_docente = 500

c_coordinador = 2
s_coordinador = 600

In [39]:
cantidad_total = c_vigilante + c_docente + c_coordinador
cantidad_total

23

In [47]:
canti_tol = 5 + 16 + 2
canti_tol

23

In [41]:
diferencia_de_salario = s_coordinador- s_vigilante
diferencia_de_salario

300

In [48]:
dife_de_sal = 600 - 300
dife_de_sal

300

In [46]:
promedios_salarios = (c_vigilante * s_vigilante + c_docente * s_docente + c_coordinador * s_coordinador) / (c_vigilante + c_docente + c_coordinador)
promedios_salarios

465.2173913043478

In [33]:
promedio_salarios = (5 * 300 + 16 * 500 + 2 * 600) / (5 + 16 + 2)
promedio_salarios

465.2173913043478

## Strings

Strings hace referencia a un conjunto de caracteres formando un texto.

Podemos crear Strings cuando atribuimos un dato a una variable entre comillas sencillas (`'`) o comillas dobles (`"`).

In [49]:
t = 'Alura'
type(t)

str

Las variables textuales son objetos que poseen métodos que nos ayudan a formatear strings. Los métodos los podemos ejecutar al definir un objeto de acuerdo con la siguiente estructura:

```
objeto.metodo()
```

Existen métodos que no necesitan los `()`, siempre es una buena práctica verificar la documentación para cada caso.

---
**Situación:**

Recibimos una variable con el nombre de una profesora de la escuela para añadirla a los registros. Sin embargo, necesitamos darle un tratamiento a este texto antes de insertarlo al sistema.

In [50]:
texto = '  Micaela de los Sanyos '

In [61]:
id(texto)

138241546192816

El objetivo final es que el nombre aparezca de la siguiente forma:

```
'MICAELA DE LOS SANTOS'
```

### [`str.upper()` ](https://docs.python.org/3/library/stdtypes.html#str.upper)
Convierte una string a mayúsculas.

In [51]:
texto.upper()

'  MICAELA DE LOS SANYOS '

### [`str.lower()`](https://docs.python.org/3/library/stdtypes.html#str.lower)
Convierte una string a minúsculas.

In [52]:
texto.lower()

'  micaela de los sanyos '

### [`str.strip()`](https://docs.python.org/3/library/stdtypes.html#str.strip)
Elimina los espacios en blanco al inicio y al final de una string.

In [53]:
texto.strip()

'Micaela de los Sanyos'

### [`str.replace(antiguo, nuevo)`](https://docs.python.org/3/library/stdtypes.html#str.replace)

Sustituye todas las ocurrencias del texto "antiguo" en la string por el  "nuevo".

In [59]:
texto.replace( 'Sanyos', 'Santos')

'  Micaela de los Santos '

In [62]:
texto.replace('y', 't')

'  Micaela de los Santos '

### Observaciones

1. Los métodos devuelven una **tranformación**, no son ejecutados directamente sobre la variable donde está almacenado el texto.

2. Adicionalmente, podemos acumular la ejecución de los métodos.

In [60]:
texto.replace('Sanyos', 'Santos').strip().upper()

'MICAELA DE LOS SANTOS'

In [63]:
texto.replace('y', 't').strip().upper()

'MICAELA DE LOS SANTOS'

Para que la transformación se pueda ejecutar debemos atribuir la salida de las transformaciones a las variables

In [66]:
texto

'  Micaela de los Sanyos '

In [67]:
id(texto)

138241546192816

In [69]:
nuevo_texto = texto.strip().replace('y', 't').upper()
print(nuevo_texto)
print(id(texto), id(nuevo_texto))

MICAELA DE LOS SANTOS
138241546192816 138241545593488

In [70]:
texto = texto.strip().replace('y', 't').upper()
print(nuevo_texto)
print(id(texto), id(nuevo_texto))

MICAELA DE LOS SANTOS
138241545506688 138241545593488

## Capturando datos

En algunas aplicaciones necesitamos capturar los valores del usuario de nuestro proyecto. En python, logramos capturar los datos del usuario a través del comando [`input()`](https://docs.python.org/3/library/functions.html#input).

Para ejecutar la captura debemos atribuir el resultado de esta función a una variable.

In [75]:
nombre = input('Ingrese su nombre: ')

Ingrese su nombre: Diego

In [76]:
type(nombre)

str

La salida de este comando siempre será una *string*. Esto quiere decir que aunque capturemos un valor de variable numérica, este será de tipo string.

Entonces, será necesario **convertir el resultado cuando no se desea utilizar el valor como tipo string**.

Existen funciones para la conversión de valores:

- Enteros: [`int(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#int)
- Coma flotante: [`float(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#float)
- String: [`str(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#func-str)
- Booleano: [`bool(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#bool)

In [77]:
año_admisión = input('Ingrese el año de admisión: ')

Ingrese el año de admisión: 2024

In [78]:
type(año_admisión)

str

In [79]:
año_salida = input('Ingrese el año de egreso: ')

Ingrese el año de egreso: 2025

In [80]:
type(año_salida)

str

In [81]:
año_admisión + año_salida

'20242025'

# Manera correcta

In [82]:
añoo_admisión = int(input('Ingrese el año de admisión: '))

Ingrese el año de admisión: 2024

In [83]:
type(añoo_admisión)

int

In [84]:
nota_admisión = float(input('Ingrese la nota de admisión: '))

Ingrese la nota de admisión: 9.7

In [85]:
type(nota_admisión)

float

In [86]:
año_egresado = int(input('Ingrese el año de egreso: '))

Ingrese el año de egreso: 2025

In [87]:
añoo_admisión + año_egresado

4049

Trataremos de representar mejor ahora el resultado de la transformación que obtuvimos. Nosotros podemos formatear y presentar nuestro resultado mezclando strings con valores no textuales.

Para ello utilizamos la estructura de formatación `f` con strings.

In [88]:
print(f'El año de admisión fue {año_admisión} y el año de egreso fue {año_salida}')

El año de admisión fue 2024 y el año de egreso fue 2025

In [93]:
print('El año de admisión fue {0} y el año de egreso fue {1}'.format(año_admisión, año_salida))

El año de admisión fue 2024 y el año de egreso fue 2025

In [94]:
print(f'El año de admisión fue {añoo_admisión} y la nota de admisión fue {nota_admisión}')

El año de admisión fue 2024 y la nota de admisión fue 9.7

In [95]:
print(f'\nEl año de admisión fue {añoo_admisión} \ny la nota de admisión fue {nota_admisión}')

El año de admisión fue 2024
y la nota de admisión fue 9.7

In [96]:
print(f'\tEl año de admisión fue {añoo_admisión} \n\tla nota de admisión fue {nota_admisión}')

	El año de admisión fue 2024
	la nota de admisión fue 9.7

# Practica 2

Vamos a practicar el uso de varios tipos de variables y la función input a través de algunas actividades. Resuelve los problemas propuestos en código.

### Recopilación y muestra de datos

1 - Crea un programa que solicite al usuario que escriba su nombre y luego imprima "Hola, [nombre]."

In [97]:
nombre = input('Ingrese su nombre: ')
print(f'Hola, {nombre}')

Ingrese su nombre: Diego
Hola, Diego

2 - Crea un programa que solicite al usuario que escriba su nombre y edad, y luego imprima "Hola, [nombre], tienes [edad] años."

In [98]:
nombree = input('Ingrese su nombre: ')
edad = int(input('Ingrese su edad: '))
print(f'hola, {nombre}, tienes {edad} años')

Ingrese su nombre: Diego
Ingrese su edad: 21
hola, Diego, tienes 21 años

3 - Crea un programa que solicite al usuario que escriba su nombre, edad y altura en metros, y luego imprima "Hola, [nombre], tienes [edad] años y mides [altura] metros."

In [99]:
Nombre = input('Ingrese su nombre: ')
Edad = int(input('Ingrese su edad: '))
Altura = float(input('Ingrese su altura: '))
print(f'Hola, {Nombre}, tienes {Edad} años y mides {Altura} metros.')

Ingrese su nombre: Diego
Ingrese su edad: 21
Ingrese su altura: 1.75
Hola, Diego, tienes 21 años y mides 1.75 metros.

### Calculadora con operadores

4 - Crea un programa que solicite dos valores numéricos al usuario y luego imprima la suma de ambos valores.

In [102]:
num_1 = int(input('Ingrese el primer número: '))
num_2 = int(input('Ingrese el segundo número: '))
print('La suma es:', num_1 + num_2)

Ingrese el primer número: 14
Ingrese el segundo número: 4
La suma es: 18

5 - Crea un programa que solicite tres valores numéricos al usuario y luego imprima la suma de los tres valores.

In [117]:
num_3 = int(input('Ingrese el primer número: '))
num_4 = int(input('Ingrese el segundo número: '))
num_5 = int(input('Ingrese el segundo número: '))
print('La suma es:', num_3 + num_4 + num_5)

Ingrese el primer número: 5
Ingrese el segundo número: 5
Ingrese el segundo número: 5
La suma es: 15

6 - Crea un programa que solicite dos valores numéricos al usuario y luego imprima la resta del primero menos el segundo valor.

In [121]:
num_15 = int(input('Ingrese el primer número: '))
num_16 = int(input('Ingrese el segundo número: '))
print('La resta es:', num_15 - num_16)

Ingrese el primer número: 16
Ingrese el segundo número: 8
La resta es: 8

7 - Crea un programa que solicite dos valores numéricos al usuario y luego imprima la multiplicación de los dos valores.

In [122]:
num_9 = int(input('Ingrese el primer número: '))
num_8 = int(input('Ingrese el segundo número: '))
print('La multiplicacion es:', num_9 * num_8)

Ingrese el primer número: 5
Ingrese el segundo número: 5
La multiplicacion es: 25

8 - Crea un programa que solicite dos valores numéricos, un numerador y un denominador, y realice la división entre los dos valores. Asegúrate de que el valor del denominador no sea igual a 0.

In [131]:
numerador = int(input('Ingrese el numerador: '))
denominador = int(input('Ingrese el denominador: ')) #el denominador distinto de 0
print('La division es:', numerador / denominador)

Ingrese el numerador: 36
Ingrese el denominador: 6
La division es: 6.0

9 - Crea un programa que solicite dos valores numéricos, un operador y una potencia, y realice la exponenciación entre estos dos valores.

In [123]:
base = int(input('Ingrese la base: '))
exponente = int(input('Ingrese el exponente: '))
print('El resultado es:', base ** exponente)

Ingrese la base: 5
Ingrese el exponente: 3
El resultado es: 125

10 - Crea un programa que solicite dos valores numéricos, un numerador y un denominador, y realice la división entera entre los dos valores. Asegúrate de que el valor del denominador no sea igual a 0.

In [130]:
numerador_2 = int(input('Ingrese el numerador: '))
denominador_2 = int(input('Ingrese el denominador: ')) #el denominador distinto de 0
print('La division entera es:', numerador_2 // denominador_2)

Ingrese el numerador: 49
Ingrese el denominador: 7
La division entera es: 7

11 - Crea un programa que solicite dos valores numéricos, un numerador y un denominador, y devuelva el resto de la división entre los dos valores. Asegúrate de que el valor del denominador no sea igual a 0.

In [133]:
numerador_3 = int(input('Ingrese el numerador: '))
denominador_3 = int(input('Ingrese el denominador: ')) #el denominador distinto de 0
print('El resto es:', numerador_3 % denominador_3)

Ingrese el numerador: 91
Ingrese el denominador: 8
El resto es: 3

12 - Crea un código que solicite las 3 notas de un estudiante e imprima el promedio de las notas.

In [126]:
notas_16 = float(input('Ingrese la nota 1: '))
notas_25 = float(input('Ingrese la nota 2: ')) #manera vulgar
notas_36 = float(input('Ingrese la nota 3: '))
print('El promedio es:', (notas_16 + notas_25 + notas_36) / 3)

Ingrese la nota 1: 9.7
Ingrese la nota 2: 8.5
Ingrese la nota 3: 9.6
El promedio es: 9.266666666666666

In [134]:
notas_100 = float(input('Ingrese la nota 1: '))
notas_101 = float(input('Ingrese la nota 2: ')) #manera elegante
notas_102 = float(input('Ingrese la nota 3: '))
print(f'El promedio es: {(notas_100 + notas_101 + notas_102) / 3}')

Ingrese la nota 1: 7.6
Ingrese la nota 2: 3.5
Ingrese la nota 3: 8.2
El promedio es:, 6.433333333333333

13 - Crea un código que calcule e imprima el promedio ponderado de los números 5, 12, 20 y 15 con pesos respectivamente iguales a 1, 2, 3 y 4.

In [135]:
promedio_ponderado = (5 * 1 + 12 * 2 + 20 * 3 + 15 * 4) / (1 + 2 + 3 + 4)
print('El promedio ponderado es:', promedio_ponderado) #manera vulgar

El promedio ponderado es: 14.9

In [136]:
promedio_ponderado = (5 * 1 + 12 * 2 + 20 * 3 + 15 * 4) / (1 + 2 + 3 + 4)
print(f'El promedio ponderado es: {promedio_ponderado}') #manera elegante

El promedio ponderado es: 14.9

### Editando textos

14 - Crea una variable llamada "frase" y asígnale una cadena de texto de tu elección. Luego, imprime la frase en pantalla.

In [116]:
frace_14 = input('ingrese una frace: ')
print(frace_14) #eta bien, ero pedian lo de abajo

ingrese una frace: SOY  MEJOR DEL MUNDO
SOY  MEJOR DEL MUNDO

In [137]:
frace_100 = '¡Hola Python'
print(frace_100)

¡Hola Python

15 - Crea un código que solicite una frase y luego imprima la frase en pantalla.

In [115]:
frace_15 = input('ingrese una frace: ')
print(frace_15)

ingrese una frace: soy el mejor del mundo
soy el mejor del mundo

16 - Crea un código que solicite una frase al usuario y luego imprima la misma frase ingresada pero en mayúsculas.

In [114]:
frace_10 = input('ingrese una frace: ')
print(frace_10.upper())

ingrese una frace: soy el mejor del mundo
SOY EL MEJOR DEL MUNDO

17 - Crea un código que solicite una frase al usuario y luego imprima la misma frase ingresada pero en minúsculas.

In [113]:
frace_9 = input('ingrese una frace: ')
print(frace_9.lower())

ingrese una frace: SOY EL MEJOR DELMUNDO
soy el mejor delmundo

18 - Crea una variable llamada "frase" y asígnale una cadena de texto de tu elección. Luego, imprime la frase sin espacios en blanco al principio y al final.

In [112]:
frace_8 = input('ingrese una frace: ')
print(frace_8.strip()) # maso

ingrese una frace:          'PAPÁ ES EL MEJR'
'PAPÁ ES EL MEJR'

In [138]:
frase_hey = ' ¡Hola Python! '
print(frase_hey.strip())

¡Hola Python!

19 - Crea un código que solicite una frase al usuario y luego imprima la misma frase sin espacios en blanco al principio y al final.

In [109]:
frace_4 = input('ingrese una frace: ')
print(frace_4.strip())

ingrese una frace:        MAMÁ ES LA MEJOR
MAMÁ ES LA MEJOR

20 - Crea un código que solicite una frase al usuario y luego imprima la misma frase sin espacios en blanco al principio y al final, además de convertirla a minúsculas.

In [110]:
frace_1 = input('ingrese una frace: ')
print(frace_1.lower().strip())

ingrese una frace:          'HOLA BEBE'
'hola bebe'

21 - Crea un código que solicite una frase al usuario y luego imprima la misma frase con todas las vocales "e" reemplazadas por la letra "f".

In [103]:
frase_usuario = input('Ingrese una frace: ')
print(frase_usuario.replace('e', 'f'))

Ingrese una frace: Elefante
Elffantf

22 - Crea un código que solicite una frase al usuario y luego imprima la misma frase con todas las vocales "a" reemplazadas por el carácter "@".

In [105]:
frace_24 = input('Ingrese una frace: ')
print(frace_24.replace('a', '@'))

Ingrese una frace: casa
c@s@

In [139]:
frase_25 = input('Escribe una frase: ')
print(frase_25.lower().replace('a',chr(64)))

Escribe una frase: PAJARA
p@j@r@

23 - Crea un código que solicite una frase al usuario y luego imprima la misma frase con todas las consonantes "s" reemplazadas por el carácter "$".

In [104]:
frace_23 = input('Ingrese una frace: ')
print(frace_23.replace('s', '$'))

Ingrese una frace: asistir
a$i$tir

In [140]:
frase_69 = input('Escribe una frase: ')
print(frase_69.lower().replace('s',chr(36)))

Escribe una frase: SAPO
$apo

# Estructuras condicionales

In [141]:
# Nota de aprobacion entre 7 y 10 == nota de aprovacion => 7
# Nota de reprobacion  es menor a 7 == nota de reprobacion < 7


"""
Si la nota del estudiante es mayor a 7 el estudiante aprueba
Si no, el estudiante reprueba
"""

'\nSi la nota del estudiante es mayor a 7 el estudiante aprueba\nSi no, el estudiante reprueba\n'

## `IF` y `ELSE`

Los comandos `if` y `else` son dos estructuras condicionales. El comando `if` ejecutará el bloque de comandos en caso de que la condición citada sea  **verdadera**. El comando `else` ejecutará el bloque de comandos en el caso de que la condicional de `if` sea **falsa**.

El comando `if` es una palabra clave en Python que significa "si". Este se emplea para conformar la estructura condicional, que te permite verificar si una determinada condición es verdadera o falsa e, inmediatamente después, ejecute un bloque de código específico dependiendo del resultado de la verificación. La sintaxis para usar el comando `if` es:



```
if condicion:
    # Realiza algo
```

In [142]:
if 2 > 1:
  print('Verdadero')

Verdadero

In [143]:
if 2 < 7:
  print('La condicion es verdadera.')

La condicion es verdadera

In [144]:
if 2 > 7:
  print('La condicion es verdadera.')
  print('Fin de la consulta')

"""
Imprime solo el "Fin de la consulta"
Porque la condicion no se cumple.
"""

'\nImprime solo el "Fin de la consulta"\nPorque la condicion no se cumple.\n'

In [148]:
if 2 > 7:
  print('La condicion es verdadera.')
print('Fin de la consulta')

Fin de la consulta

Ya el comando `else` en Python se usa en junción con la palabra clave `if` para formar una estructura condicional. la sintaxis para usar el `else` es:

```
if condicion:
  # codigo en caso de que sea verdad
else:
  # codigo en caso de que sea falso
```

el comando `else` se ejecuta cuando la condición verificada por el `if` es evaluada como `False`.

In [149]:
if 2 > 7:
  print('La condicion es verdadera.')
else:
  print('La condicion es falsa.')
print('Fin de la consulta')

La condicion es falsa.
Fin de la consulta

In [151]:
edad_Maria = int(input('Ingrese la edad de Maria: '))

if edad_Maria >= 18:
  print('Maria es mayor de edad.')
else:
  print('Maria es menor de edad.')

Ingrese la edad de Maria: 12
Maria es menor de edad.

In [152]:
edad_juan = int(input('Ingrese la edad de Juan: '))
edad_carlos = int(input('Ingrese la edad de Carlos: '))

if edad_juan > edad_carlos:
  print('Juan es mayor que Carlos.')
else:
  print('Carlos es mayor que Juan.')

Ingrese la edad de Juan: 16
Ingrese la edad de Carlos: 21
Carlos es mayor que Juan.

In [155]:
notas_Pedro = float(input('Ingrese la nota de Pedro: '))

if notas_Pedro >= 7:
  print('Pedro aprueba.')
else:
  print('Pedro reprueba.')

Ingrese la nota de Pedro: 6.9
Pedro reprueba.

In [157]:
notas_Diego = float(input('Ingrese la nota de Diego: '))
notas_Randall = float(input('Ingrese la nota de Randall: '))

if notas_Diego >= 7 and notas_Randall >= 7:
  print('Ambos aprueban.')
else:
  print('Alguno reprueba.')

Ingrese la nota de Diego: 9
Ingrese la nota de Randall: 5
Alguno reprueba.

In [159]:
altura_jesus = float(input('Ingrese la altura de Jesus: '))

if altura_jesus >= 1.70:
  print('Jesus es alto.')
else:
  print('Jesus es bajo.')

Ingrese la altura de Jesus: 1.90
Jesus es alto.

In [162]:
altura_felipe = float(input('Ingrese la altura de Felipe: '))
altura_juan = float(input('Ingrese la altura de Juan: '))

if altura_felipe >= 1.70 and altura_juan >= 1.70:
  print('Ambos son altos.')
else:
  print('Alguno es bajo.')

Ingrese la altura de Felipe: 1.90
Ingrese la altura de Juan: 1.90
Ambos son altos.

---
**Situación:**

Recibiremos el promedio de la nota de los estudiantes y necesitamos de un algoritmo que ejecute el análisis y determine si el estudiante fue **Aprobado** o **Reprobado**, mostrando un mensaje del resultado. Para ser aprobado, el promedio necesita ser igual o superior a 7.0.

In [164]:
notas_estudiantes = float(input('Ingrese el promedio de la nota: '))

if notas_estudiantes >= 7:
  print('El estudiante fue aprobado.')
else:
  print('El estiudiante fue reprobado.')

Ingrese el promedio de la nota: 7
El estudiante fue aprobado.

Ahora, nuestra institución educativa estableció que las personas que tengan el promedio entre 5.0 y 7.0 pueden participar del curso de **Recuperación** durante las vacaciones para lograr aprobar.

Entonces podemos apoyarnos en un conjunto de `if`s para poder estructurar esta nueva condición.

In [167]:
notas_estudiantes = float(input('Ingrese el promedio de la nota: '))

if notas_estudiantes >= 7:
  print('El estudiante fue aprobado.')
if notas_estudiantes >= 5 and notas_estudiantes < 7:
  print('El estudiante puede recuperar.')
else:
  print('El estiudiante fue reprobado.')

Ingrese el promedio de la nota: 6
El estudiante puede recuperar.

In [171]:
nota_est = float(input('Ingrese la nota del estudiante: '))

if nota_est >= 7:
  print('Aprobo')
if 7 > nota_est >= 5:
  print('Recuperacion')
if nota_est < 5:
  print('Reprobo')

Ingrese la nota del estudiante: 4
Reprobo

Observa que en casos con 3 situaciones como este necesitamos definir bien nuestras condiciones. Pues, si realizamos una condición con `else` al final, este irá a considerar solamente la condición `if` inmediatamente anterior para generar la salida en caso de que el resultado de su operación lógica sea **falso** dando como resultado, dos o más ejecuciones.

Por ejemplo:

In [172]:
nota_est = float(input('Ingrese la nota del estudiante: '))

if nota_est >= 7:
  print('Aprobo')
if 7 > nota_est >= 5:
  print('Recuperacion')
else:
  print('Reprobo')

Ingrese la nota del estudiante: 9
Aprobo
Reprobo

## `ELIF`

El comando `elif` es una palabra clave en Python que significa "si no, si" y lo podemos considerar una *contracción* entre `else` e `if`. Se utiliza en conjunto con la palabra clave `if` para formar una estructura condicional en cadena.

la sintaxis para utilizar el comando `elif` es:

```
if condicion1:
    # Realiza algo
elif condicion2:
    # Realiza otra cosa
elif condicion3:
    # Realiza otra cosa
else:
    # Realiza algo diferente
```

El comando `elif` permite que puedas verificar varias condiciones en cadena, economizando espacio en tu código. Si la primera condición se evalúa como `False`, el interpretador de Python evaluará la próxima condición con el `elif`. Ello continuará hasta que una condición sea evaluada como `True` o hasta que el `else` sea alcazado. Si ninguna de las condiciones es evaluada como `True`, la ejecución del código del comando `else` será iniciada.

Vamos a emplear el mismo caso anterior:

In [175]:
nota_est = float(input('Ingrese la nota del estudiante: '))

if nota_est >= 7:
  print('Aprobo')
elif 7 > nota_est >= 5:
  print('Recuperacion')
else:
  print('Reprobo')

Ingrese la nota del estudiante: 5
Recuperacion

In [178]:
estatura = float(input('Ingrese la estatura del estudiante: '))

if estatura >= 1.70:
  print('Es alto')
elif 1.70 > estatura >= 1.60:
  print('Es medio')
else:
  print('Es bajo')

Ingrese la estatura del estudiante: 1.65
Es medio

## Operadores

Durante la construcción de comandos a veces necesitamos de una elaboración mayor de la expresión condicional, necesitando que algunos operadores lógicos se encuentren integrados.

### `AND`, `OR`, `NOT`

Los operadores lógicos `and`, `or` y `not` son usados para combinar expresiones lógicas en Python. Ellos son usados frecuentemente en conjunto con el comando `if` para crear estructuras condicionales más complejas.

- `AND` es usado para verificar si dos condiciones son verdaderas. La expresión lógica¹ `x and y` se evalúa como `True` tan solo si **ambas condiciones `x` y `y` son verdaderas**, y como `False` en caso contrario.

- `OR` es usado para verificar si al menos una de las condiciones es verdadera. La expresión lógica `x or y` se evalúa como `True` **si al menos una de las condiciones `x` o `y` es verdadera**, y como `False` si ambas condiciones son falsas.

- `NOT` es usado para **negar una condición**. La expresión lógica `not x` es evaluada como `True` si la condición x es falsa, y como `False` si la condición x es verdadera.

¹ Una expresión lógica es una declaración que puede ser evaluada como verdadera o falsa. Ella se compone por operandos lógicos² y por operadores lógicos³, que son usados ​​para combinar varias expresiones lógicas en una única expresión.

² Los operandos lógicos son los elementos que son comparados o evaluados en una expresión lógica. Ellos son generalmente valores verdaderos o falsos, pero también pueden ser expresiones lógicas más complejas. En Python, los operandos lógicos son los valores `True` y `False`.

³ Los operadores lógicos son ls símbolos o palabras clave que son usados ​​para combinar varias expresiones lógicas en una única expresión. En Python, los operadores lógicos son `and`, `or` y `not`, bien como las palabras clave `if`, `elif` e `else`.

> Operadores lógicos más comunes

|a|b|AND|OR|NOT|
|-|-|-|-|-|
|0|0|0|0|1
|0|1|0|1|-
|1|0|0|1|-
|1|1|1|1|0

In [179]:
v = True
f = False

In [180]:
if v and v:
  print('Verdadero') # el operador logico es AND
else:
  print('Falso')

Verdadero

In [185]:
if v and f:
  print('Verdadero')
else:
  print('Falso')

Falso

In [186]:
if f and f:
  print('Verdadero')
else:
  print('Falso')

Falso

In [181]:
if v or f:
  print('Verdadero')
else:
  print('Falso')

Verdadero

In [182]:
if f or f:
  print('Verdadero') #El operador logico es OR
else:
  print('Falso')

Falso

In [183]:
if v or v:
  print('Verdadero')
else:
  print('Falso')

Verdadero

In [184]:
if f or v:
  print('Verdadero')
else:
  print('Falso')

Verdadero

In [192]:
if not f:
  print('Verdadero') #el operador es NOT
else:
  print('Falso')

Verdadero

In [193]:
if not v:
  print('Verdadero')
else:
  print('Falso')

Falso

### `IN`

Es usado para verificar si un elemento está presente en una lista, tupla u otra colección de conjunto. La expresión `x in y` se evalúa como `True` si el elemento `x` esta presente na variávelen la variable de conjunto `y`, y como `False` en caso contrario.

Podemos verificarlo con variables de texto.

---

**Situación:**

En la escuela nos entregaron una lista con nombres de estudiantes que fueron aprobados según el promedio del semestre, pero es necesario verificar si algunos nombres están en esa lista para confirmar que los datos estén correctos.

La lista distribuida puede ser observada a continuación:

```
lista = 'Juan Pérez, María González, Pedro Rodríguez, Ana López, Carlos Martínez,
    Laura Sánchez, José García, Elena Fernández, Luis Morales, Carmen Torres,
    David Ruiz, Isabel Ramírez, Javier Díaz, Sara Herrera, Miguel Castro,
    Patricia Ortega, Francisco Vargas, Marta Jiménez, Manuel Medina, Rosa Molina,
    Alejandro Silva, Silvia Ruiz, Andrés Torres, Natalia Soto, Diego Guerrero,
    Paula Ríos, Ricardo Navarro, Alicia Cordero, Carlos Vidal, Lorena Gómez'
```

Los nombres que necesitas verificar son los siguientes:

```
nombre_1 = 'Miguel Castro'
nombre_2 = 'Marcelo Noguera'
```

In [195]:
lista = 'Juan Pérez, María González, Pedro Rodríguez, Ana López, Carlos Martínez, Laura Sánchez, José García, Elena Fernández, Luis Morales, Carmen Torres, David Ruiz, Isabel Ramírez, Javier Díaz, Sara Herrera, Miguel Castro, Patricia Ortega, Francisco Vargas, Marta Jiménez, Manuel Medina, Rosa Molina, Alejandro Silva, Silvia Ruiz, Andrés Torres, Natalia Soto, Diego Guerrero, Paula Ríos, Ricardo Navarro, Alicia Cordero, Carlos Vidal, Lorena Gómez'

In [196]:
nombre_1 = 'Miguel Castro'
nombre_2 = 'Marcelo Noguera'

In [198]:
if nombre_1 in lista:
  print(f'{nombre_1} aprobo.')
else:
  print(f'{nombre_1} reprobo.')

Miguel Castro aprobo.

In [199]:
if nombre_2 in lista:
  print(f'{nombre_2} aprobo.')
else:
  print(f'{nombre_2} reprobo.')

Marcelo Noguera reprobo.

# PRACTICA 3 Entrenando la programación

1 - Escribe un programa que pida a la persona usuaria que proporcione dos números y muestre el número más grande.

In [201]:
NUM_1 = int(input('Ingrese el primer numero: '))
NUM_2 = int(input('Ingrese el segundo numero: '))

if NUM_1 > NUM_2:
  print(f'El numero mayor es: {NUM_1}')
else:
  print(f'El numero mayor es: {NUM_2}')

Ingrese el primer numero: 15
Ingrese el segundo numero: 1
El numero mayor es: 15

2 - Escribe un programa que solicite el porcentaje de crecimiento de producción de una empresa e informe si hubo un crecimiento (porcentaje positivo) o una disminución (porcentaje negativo).

3 - Escribe un programa que determine si una letra proporcionada por la persona usuaria es una vocal o una consonante.

4 - Escribe un programa que lea valores promedio de precios de un modelo de automóvil durante 3 años consecutivos y muestre el valor más alto y más bajo entre esos tres años.

5 - Escribe un programa que pregunte sobre el precio de tres productos e indique cuál es el producto más barato para comprar.

6 - Escribe un programa que lea tres números y los muestre en orden descendente.

7 -Escribe un programa que pregunte en qué turno estudia la persona usuaria ("mañana", "tarde" o "noche") y muestre el mensaje "¡Buenos Días!", "¡Buenas Tardes!", "¡Buenas Noches!" o "Valor Inválido!", según el caso.

8 - Escribe un programa que solicite un número entero a la persona usuaria y determine si es par o impar. Pista: Puedes usar el operador módulo (%).

9 - Escribe un programa que pida un número a la persona usuaria y le informe si es entero o decimal.

# Momento de los proyectos

10 - Un programa debe ser escrito para leer dos números y luego preguntar a la persona usuaria qué operación desea realizar. El resultado de la operación debe incluir información sobre el número, si es par o impar, positivo o negativo, e entero o decimal.

11 - Escribe un programa que pida a la persona usuaria tres números que representan los lados de un triángulo. El programa debe informar si los valores pueden utilizarse para formar un triángulo y, en caso afirmativo, si es equilátero, isósceles o escaleno. Ten en cuenta algunas sugerencias:

Tres lados forman un triángulo cuando la suma de cualesquiera dos lados es mayor que el tercero;

Triángulo Equilátero: tres lados iguales;

Triángulo Isósceles: dos lados iguales;

Triángulo Escaleno: tres lados diferentes.

12 - Un establecimiento está vendiendo combustibles con descuentos variables. Para el etanol, si la cantidad comprada es de hasta 15 litros, el descuento será del 2% por litro. En caso contrario, será del 4% por litro. Para el diésel, si la cantidad comprada es de hasta 15 litros, el descuento será del 3% por litro. En caso contrario, será del 5% por litro. El precio por litro de diésel es de R$200,  y,
el,  precio, por, litro, de, etanol, es, de, R$ 1,70. Escribe un programa que lea la cantidad de litros vendidos y el tipo de combustible (E para etanol y D para diésel) y calcule el valor a pagar por el cliente. Ten en cuenta algunas sugerencias:

El valor del descuento será el producto del precio por litro, la cantidad de litros y el valor del descuento.

El valor a pagar por un cliente será el resultado de la multiplicación del precio por litro por la cantidad de litros menos el valor del descuento resultante del cálculo.

13 - En una empresa de venta de bienes raíces, debes crear un código que analice los datos de ventas anuales para ayudar a la dirección en la toma de decisiones. El código debe recopilar los datos de cantidad de ventas durante los años 2022 y 2023 y calcular la variación porcentual. A partir del valor de la variación, se deben proporcionar las siguientes sugerencias:

Para una variación superior al 20%: bonificación para el equipo de ventas.

Para una variación entre el 2% y el 20%: pequeña bonificación para el equipo de ventas.

Para una variación entre el 2% y el -10%: planificación de políticas de incentivo a las ventas.

Para bonificaciones inferiores al -10%: recorte de gastos.

# Estructuras de repetición

Cuando tenemos que ejecutar un mismo bloque de comandos durante varias ocasiones no es nada práctico hacerlo a mano.

**Situación**: Nos fue solicitado obtener e imprimir el promedio de 2 notas de **3 estudantes**:

In [ ]:
nota_1 = float(input('Digite la primera nota: '))
nota_2 = float(input('Digite la segunda nota: '))
print(f'El promedio es: {(nota_1 + nota_2) / 2}')

nota_1 = float(input('Digite la primera nota: '))
nota_2 = float(input('Digite la segunda nota: '))
print(f'El promedio es: {(nota_1 + nota_2) / 2}')

nota_1 = float(input('Digite la primera nota: '))
nota_2 = float(input('Digite la segunda nota: '))
print(f'El promedio es: {(nota_1 + nota_2) / 2}')

Digite la primera nota: 3.5
Digite la segunda nota: 9.7
El promedio es: 6.6
Digite la primera nota: 7.5
Digite la segunda nota: 8.9
El promedio es: 8.2
Digite la primera nota: 10
Digite la segunda nota: 2.4
El promedio es: 6.2

Ahora imaginemos una situación en que no son tan solo 3 estudiantes, sino 100 estudiantes. No sería nada interesante repetir el mismo código 100 veces, sino **ejecutar el mismo código 100 veces**.

¡Esta estructura la logramos construir con lazos de repetición!

## `WHILE`

El lazo `while` es una estructura de control de repetición en Python que permite ejecutar un bloque de código repetidamente mientras que una determinada condición sea verdadera. Su estructura es:



```
while condicion:
    # bloque de codigo
```

Vamos a construir un ejemplo con un contador de 1 hasta 10.

In [ ]:
contador = 1
while contador <= 10:
  print(contador)
  contador += 1

1
2
3
4
5
6
7
8
9
10

Ahora vamos a colectar las notas y promedios de cada alumno dentro del lazo `while`. Haremos un ejemplo con 3 promedios.

In [ ]:
contador = 1
while contador <= 3:
  nota_1 = float(input('Digite la primera nota: '))
  nota_2 = float(input('Digite la segunda nota: '))
  print(f'El promedio es: {(nota_1 + nota_2) / 2}')

  contador += 1

Digite la primera nota: 6.7
Digite la segunda nota: 8.9
El promedio es: 7.800000000000001
Digite la primera nota: 9.9
Digite la segunda nota: 10
El promedio es: 9.95
Digite la primera nota: 9.7
Digite la segunda nota: 8.5
El promedio es: 9.1

## `FOR`

El lazo `for` es un tipo de estructura de control de flujo en Python que permite iterar sobre un conjunto de elementos. Su estructura es:



```
for elemento in conjunto:
    # codigo a ser ejecutado para cada elemento
```

El lazo `for` itera sobre cada elemento del conjunto especificado y ejecuta el bloque de código dentro del lazo para cada elemento. Cuando el lazo llega al final del conjunto, este se interrumpe y el programa continúa la ejecución después del lazo.

El conjunto lo podemos generar con la función incorporada [`range()`](https://docs.python.org/3/library/functions.html#func-range). Se trata de una función capaz de generar una secuencia de números enteros. La estructura de esta función es:

```
range(inicio, fin, paso)
```

Según la documentación, `range()` genera una secuencia de números enteros a partir del valor del parámetro `inicio` hasta el valor del parámetro `fin`, de acuerdo con el valor del parámetro `paso`. Si `inicio` no es especificado, el valor por defecto es `0`. Si `paso` no es especificado, el valor por defecto es `1`.

Vamos a recrear el mismo contador `while` con el lazo `for`.

In [ ]:
for n in range(1,11):
  print(n)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for e in range(1,4):
   nota_1 = float(input('Digite la primera nota: '))
   nota_2 = float(input('Digite la segunda nota: '))
   print(f'El promedio es: {(nota_1 + nota_2) / 2}')

Digite la primera nota: 5.5
Digite la segunda nota: 6.9
El promedio es: 6.2
Digite la primera nota: 8.9
Digite la segunda nota: 9
El promedio es: 8.95
Digite la primera nota: 8.8
Digite la segunda nota: 9.8
El promedio es: 9.3

In [ ]:
inicio = int(input('Digite el valor de inicio: '))
fin = int(input('Digite el valor de fin: '))

if inicio < fin:
  for i in range(inicio + 1, fin):
    print(i)

elif inicio > fin:
  for i in range(fin + 1, inicio):
    print(i)
else:
  print('Los valores son iguales')

Digite el valor de inicio: 7
Digite el valor de fin: 19
8
9
10
11
12
13
14
15
16
17
18

In [ ]:
# Recolectamos los valores de inicio y fin
inicio = int(input('Ingresa el primer número entero: '))
fin = int(input('Ingresa el segundo número entero: '))

# Verificamos si el valor de inicio es menor que el fin
if inicio < fin:
  # Podemos imprimir los enteros entre el valor menor y el valor mayor
  for i in range(inicio + 1, fin):
    print(i)
elif inicio > fin:
  for i in range(fin + 1, inicio):
    print(i)
else: # En caso de que los números sean iguales, no podemos imprimir ninguna secuencia.
  print('Los números son iguales.')

Ingresa el primer número entero: 7
Ingresa el segundo número entero: 19
8
9
10
11
12
13
14
15
16
17
18

# Estructuras de datos

Un conjunto de elementos es una colección de items, que son almacenados juntos de manera organizada. Algunos ejemplos de conjuntos de elementos en Python son las listas, los strings y los diccionarios.

## Listas

Las listas pueden almacenar una colección de items en orden. Ellas son delimitadas por corchetes `[]` y sus elementos son separados por comas.

Estas pueden almacenar cualquier tipo de items, incluyendo números, strings, objetos, otras listas, entre otros. También nos permiten almacenar items de tipos de datos diferentes juntos en una única lista.

In [ ]:
lista = ['Penélope Camacho',9.5,9.0,9.7,True]
lista

['Penélope Camacho', 9.5, 9.0, 9.7, True]

In [ ]:
type(lista)

list

Las listas son organizadas en Python porque **cada elemento de la lista tiene un índice que indica su posición al interior de la lista**. Los índices comienzan en 0 van hasta el tamaño de la lista menos 1.

Tenemos entonces 5 elementos con índices que varían de 0 a 4, ordenadamente:

```
#             [0]           [1]   [2]   [3]    [4]
lista = ['Penélope Camacho', 9.5 , 9.0 , 9.7 , True]
```

En Python tenemos también los índices **negativos** que se inician en el último elemento con el valor de `-1` y avanzan en el universo de los negativos hasta llegar al 1° elemento:

```
#             [-5]         [-4]  [-3]  [-2]   [-1]
lista = ['Penélope Camacho', 9.5 , 9.0 , 9.7 , True]
```

Logramos seleccionar separadamente cada elemento a través de sus respectivos índices. Colocando el nombre de la lista y en seguida el índice que será seleccionado.

In [ ]:
type(lista[-1])

int

Una forma más dinámica de trabajar item a item en una lista es utilizando un lazo `for` para leer un elemento a la vez.

In [ ]:
for elemento in lista:
  print(elemento)

0

**Situación**: La nota `9.0` de Penélope necesita ser ajustada pues ganó 1 punto en su última nota por participación en clase. Entonces es necesario realizar un cambio en el índice `2` de `9.0` a `10.0`.

In [ ]:
lista[2] = 10.0

IndexError: list assignment index out of range

In [ ]:
lista

[0]

In [ ]:
promedio = (lista[1] + lista[2] + lista[3]) / 3
promedio

IndexError: list index out of range

También podemos calcular el promedio del estudiante a partir de los datos que tenemos.

In [ ]:
pregunta = '¿Quién vino primero? ¿El huevo? ¿O fue la serpiente?'
lista_palabras = pregunta.split('?')
print(lista_palabras)

['¿Quién vino primero', ' ¿El huevo', ' ¿O fue la serpiente', '']

In [ ]:
mezclas = ['Pinturas: rojo, azul y amarillo',
            'Verde: mezcla de azul y amarillo',
            'Naranja: mezcla de rojo y amarillo',
            'Morado: mezcla de rojo y azul']
unificador = '. '
cadena_mezclas = unificador.join(mezclas)
print(cadena_mezclas)

Pinturas: rojo, azul y amarillo. Verde: mezcla de azul y amarillo. Naranja: mezcla de rojo y amarillo. Morado: mezcla de rojo y azul

In [ ]:
listaa = ['Diego Bustos', 9.0, 7.8, 10.0, True]
listaa

['Diego Bustos', 9.0, 7.8, 10.0, True]

In [ ]:
promedios = (listaa[1] + listaa[2] + listaa[3]) / 3
promedios

8.933333333333334

## Manipulación de listas

Las listas son muy útiles en Python porque nos permiten almacenar y acceder a una colección de items de manera organizada y rápida. Estas también ofrecen muchos métodos útiles para manipular los itens almacenados, como adicionar, remover, clasificar y buscar elementos.

#### Cantidad de elementos

Usamos la función [`len()`](https://docs.python.org/3/library/functions.html#len) para descubrir la cantidad de elementos de un conjunto.

In [ ]:
len(listaa)

5

#### Partición

La partición de listas por indexación en Python es una técnica muy útil para seleccionar un subconjunto de elementos de una lista. Esta se realiza usando la sintaxis `lista[inicio:fin]`, donde `inicio` es el índice del primer elemento que será incluído en la partición `fin` es el índice del primer elemento que será excluído de la partición.

In [ ]:
listaa[0:3]

['Diego Bustos', 9.0, 7.8]

In [ ]:
listaa[:2]

['Diego Bustos', 9.0]

In [ ]:
listaa[3:]

[10.0, True]

#### [`append()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=of%20list%20objects%3A-,list.append(x),-Add%20an%20item)

Añade un elemento al final de la lista.

In [ ]:
listaa.append(promedios)

In [ ]:
listaa

['Diego Bustos',
 9.0,
 7.8,
 10.0,
 True,
 8.933333333333334,
 8.933333333333334,
 8.933333333333334,
 8.933333333333334,
 8.933333333333334,
 8.933333333333334,
 8.933333333333334,
 8.933333333333334,
 8.933333333333334,
 8.933333333333334]

#### [`extend()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=list.extend(iterable))

Añade varios elementos al final de la lista.

Añadiremos las notas `[10.0,8.0,9.0]` En la lista de Penélope Camacho.

In [ ]:
listaa.extend([10.0,8.0,9.0])

In [ ]:
listaa

['Diego Bustos',
 9.0,
 7.8,
 10.0,
 True,
 8.933333333333334,
 8.933333333333334,
 8.933333333333334,
 8.933333333333334,
 8.933333333333334,
 8.933333333333334,
 8.933333333333334,
 8.933333333333334,
 8.933333333333334,
 8.933333333333334,
 10.0,
 8.0,
 9.0]

*A continuación te mostraremos lo que no puede realizarse con* `append`.

In [ ]:
listaa.append([10.0,8.0,9.0])

In [ ]:
listaa

['Diego Bustos',
 9.0,
 7.8,
 10.0,
 True,
 8.933333333333334,
 8.933333333333334,
 8.933333333333334,
 8.933333333333334,
 8.933333333333334,
 8.933333333333334,
 8.933333333333334,
 8.933333333333334,
 8.933333333333334,
 8.933333333333334,
 10.0,
 8.0,
 9.0,
 [10.0, 8.0, 9.0]]

#### [`remove()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=append(x).-,list.remove(x),-Remove%20the%20first)

Remueve un elemento específico de la lista.

In [ ]:
listaa.remove([10.0, 8.0, 9.0])

In [ ]:
listaa

['Diego Bustos',
 9.0,
 7.8,
 10.0,
 True,
 8.933333333333334,
 8.933333333333334,
 8.933333333333334,
 8.933333333333334,
 8.933333333333334,
 8.933333333333334,
 8.933333333333334,
 8.933333333333334,
 8.933333333333334,
 8.933333333333334,
 10.0,
 8.0,
 9.0]

In [ ]:
razas_de_perros = ['Labrador Retriever',
                   'Bulldog Francés',
                   'Pastor Alemán',
                   'Poodle']

In [ ]:
razas_de_perros.insert(1, 'Golden Retriever')
razas_de_perros

['Labrador Retriever',
 'Golden Retriever',
 'Bulldog Francés',
 'Pastor Alemán',
 'Poodle']

In [ ]:
razas_de_perros.pop(1)

'Golden Retriever'

In [ ]:
razas_de_perros

['Labrador Retriever', 'Bulldog Francés', 'Pastor Alemán', 'Poodle']

In [ ]:
razas_de_perros.index('Pastor Alemán')

2

In [ ]:
razas_de_perros.sort()
razas_de_perros

['Bulldog Francés', 'Labrador Retriever', 'Pastor Alemán', 'Poodle']

## Diccionario

Los diccionarios son un tipo de estructura de datos que almacenan pares de *llave-valor*. Estos son delimitados por llaves `{}` y los pares *llave-valor* son separados por comas.

```
diccionario = {llave: valor}
```

La **llave** es un elemento único que identifica a un valor en el diccionario, mientras que el **valor** es el item que será almacenado para la llave. Las llaves y sus respectivos valores se pueden emplear para **cualquier tipo de dato**.

Los diccionarios son útiles para almacenar y acceder a los datos de manera organizada y rápida. Se trata de un tipo de conjunto de elementos en Python, pues almacenan una colección de items.

In [ ]:
diccionario = {'Llave_1': 1,
               'Llave_2': 2}

diccionario
diccionario

{'Llave_1': 1, 'Llave_2': 2}

In [ ]:
type(diccionario)

dict

---
**Situación:**

Vamos a crear un conjunto de datos con las informaciones de matrícula de un estudiante. Los datos son los siguientes:

- matrícula: 2000168933
- día de registro: 25
- mes de registro: 10
- grupo: 2E

In [ ]:
estudiante = {'matrícula': 2000168933,
              'día de registro': 25,
              'mes de registro': 10,
              'grupo': '2E'
              }

estudiante

{'matrícula': 2000168933,
 'día de registro': 25,
 'mes de registro': 10,
 'grupo': '2E'}

In [ ]:
estudiante['matrícula']

2000168933

In [ ]:
estudiante['grupo']

'2E'

Es posible sustituir los valores dentro de una llave. Por ejemplo, recibimos la información de que el grupo del estudiante que registramos cambio a `'2G'` y ahora necesitamos cambiar el valor de la llave `'grupo'`.

In [ ]:
estudiante['grupo'] = '2G'

estudiante

{'matrícula': 2000168933,
 'día de registro': 25,
 'mes de registro': 10,
 'grupo': '2G'}

También podemos añadir otros datos al diccionario. Vamos a añadir la información sobre la modalidad de estudio, nuestro estudiante estudiará inicialemente en la modalidad EAD.

Definiremos una llave llamada `'modalidad'` con el valor `'EAD'`.

In [ ]:
estudiante['modalidad'] = 'EAD'

In [ ]:
estudiante

{'matrícula': 2000168933,
 'día de registro': 25,
 'mes de registro': 10,
 'grupo': '2G',
 'modalidad': 'EAD'}

In [ ]:
len(estudiante)

5

## Profundizando en diccionarios

#### [`pop()`](https://python-reference.readthedocs.io/en/latest/docs/dict/pop.html)
Remueve un item de un diccionario y lo representa en la salida.

In [ ]:
estudiante.pop('grupo')

'2G'

In [ ]:
estudiante

{'matrícula': 2000168933,
 'día de registro': 25,
 'mes de registro': 10,
 'modalidad': 'EAD'}

#### [`items()`](https://python-reference.readthedocs.io/en/latest/docs/dict/items.html)
Retorna una lista de pares `llave-valor` del diccionario.

In [ ]:
estudiante.items()

dict_items([('matrícula', 2000168933), ('día de registro', 25), ('mes de registro', 10), ('modalidad', 'EAD')])

#### [`keys()`](https://python-reference.readthedocs.io/en/latest/docs/dict/keys.html)
Retorna una lista de las llaves del diccionario.

In [ ]:
estudiante.keys()

dict_keys(['matrícula', 'día de registro', 'mes de registro', 'modalidad'])

#### [`values()`](https://python-reference.readthedocs.io/en/latest/docs/dict/values.html)
Retorna una lista de los valores del diccionario.

In [ ]:
estudiante.values()

dict_values([2000168933, 25, 10, 'EAD'])

### Lectura de valores con el lazo `for`

In [ ]:
for Llave in estudiante.keys():
  print(Llave)

matrícula
día de registro
mes de registro
modalidad

In [ ]:
for Llave, valor in estudiante.items():
  print(Llave,'-->', valor)

matrícula --> 2000168933
día de registro --> 25
mes de registro --> 10
modalidad --> EAD

In [ ]:
precios = [100.0, 400.0, 200.0]
suma = sum(precios)
suma

700.0

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [ ]:
lista = [1,2,3]
dir(lista)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']