<a href="https://colab.research.google.com/github/diego2003-her14/amigo-secreto/blob/main/Python_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python para Data Science

Notebook para el curso de Python para Data Science publicado en la plataforma de [Alura Latam](https://www.aluracursos.com/)

# Introducción a Python
¡Vamos a conocer Python, nuestro ambiente de estudio, y también generaremos nuestro primer código en este lenguaje!

## Google Colaboratory

Ya aprendimos qué es [Python](https://www.python.org/) y ahora aprenderemos a usar nuestra herramienta de ejecución [Google Colaboratory](https://colab.research.google.com/) para programar en un notebook interactivo.

Vamos a probar algunas funciones de este ambiente.

 **`>>> Usa esta celda para mover <<<`**

## ¡Hola mundo!

Vamos a conocer un poco más de cerca nuestro notebook. Para ello ejecutaremos nuestro primer comando en Python: [`print()`](https://docs.python.org/3/library/functions.html#print)

In [ ]:
print('Hola mundo!')

Hola mundo!

In [ ]:
21

21

In [ ]:
print('Me llamo Diego A. Bustos Herrera y, amo la Ciencia de Datos')

Me llamo Diego A. Bustos Herrera y, amo la Ciencia de Datos

# Practica 1

1 - Imprime la frase "Escuela de Datos de Alura".

In [ ]:
print('Escuela de Datos de Alura')

Escuela de Datos de Alura

2 - Imprime tu nombre y tu apellido siguiendo la estructura a continuación:

Nombre: [tu nombre]

Apellido: [tu apellido]

In [ ]:
print('Nombre: Diego')
print('Apellido: Bustos')

Nombre: Diego
Apellido: Bustos

3 - Imprime tu primer nombre letra por letra. Por ejemplo, si mi nombre es Álvaro, la salida sería:

Á

L

V

A

R

O

In [ ]:
print('D')
print('I')
print('E')
print('G')
print('O')

D
I
E
G
O

4 - Imprime tu fecha de nacimiento en formato día mes año. Recuerda que los valores de día y año no deben estar entre comillas. Suponiendo una fecha de cumpleaños el 28 de febrero de 2003, el formato debe ser como el siguiente:

28 febrero 2003

In [ ]:
print(14, 'de octubre del', 2003)

14 de octubre del 2003

5 - Imprime, en una sola instrucción print, el año actual en el que estás realizando este curso. El valor del año debe ser un dato numérico, y la salida de print debe ser la siguiente:

Año actual: [año]

In [ ]:
print('Año actual:', 2025)

Año actual: 2025

# Manipulando los datos

Vamos a aprender sobre las variables en Python, cómo declararlas y utilizarlas además de conocer otros comandos de este lenguaje. :D

## Variables

En Data Science trabajamos con varios tipos de datos e informaciones, entonces es esencial saber cómo trabajar con las variables.

Las variables en Python se crean cuando atribuimos un valor a ella.

Para esto, colocamos el nombre de la variable, el signo de igual (`=`) y el valor que queremos atribuirle.

In [ ]:
5

5

In [ ]:
id(5)

10750984

In [ ]:
edad = 5

In [ ]:
id(edad)

10750984

In [ ]:
print(id(edad))
print(id(5))

10750984
10750984

In [ ]:
numerocinco = 5

In [ ]:
id(numerocinco)

10750984

In [ ]:
nombre = 'Gabriel'

In [ ]:
id('Gabriel')

138242218419120

In [ ]:
id(nombre)

138242218419120

Existen algunos tipos de nomes que **no** podemos definir para las variables:

- **Nombres que comiencen con números**
  - Ejemplos: `10_notas`, `2_nombre_casa`, etc.
- **Palabras separadas por espacio**
  - Ejemplos: `Nombre escuela`, `notas estudiantes`, etc.
- **Nombres de funciones de Python**
  - Ejemplos: `print`, `type`, etc.

> Las letras mayúsculas y minúsculas generarán diferentes variables. La variable `edad` es diferente de `Edad` que a su vez es diferente de `EDAD`:
``` Python
edad = 1
Edad = 2
EDAD = 3
_edad = 4
_edad_ = 5
print(edad, Edad, EDAD, _edad, _edad_)
1 2 3 4 5
```

## Tipos de variables

Cada variable contiene una clase específica con respecto al tipo de objeto al cual esta hace referencia. Estas clases serán diferentes de acuerdo con el tipo de dato que le sea atribuido a una variable.

Para conocer la clase de cada elemento usamos la función [`type()`](https://docs.python.org/3/library/functions.html#type)

In [ ]:
num_1 = 6

In [ ]:
type(num_1)

int

In [ ]:
apellido = 'Bustos'

In [ ]:
type(apellido)

str

In [ ]:
verdadero = True

In [ ]:
type(verdadero)

bool

In [ ]:
probabilidad = 10.5

In [ ]:
type(probabilidad)

float

En un conjunto de datos escolares podemos tener varios tipos de informaciones. Supongamos que tenemos acceso a la ficha de datos del alumno *Penélope Camacho*, cómo transformamos este nombre en variables de Python?

#### Ficha:

- Nombre: Penélope Camacho
- Edad: 11 años
- Promedio del semestre: 9,75
- Situación de aprobación: Verdadera (aprobado)

In [ ]:
nombre_estudiante = 'Penelope Camacho'
edad_estudiante = 11
promedio_estudiante = 9.75
aprobado_estudiante = True

In [ ]:
print(nombre_estudiante, edad_estudiante, promedio_estudiante, aprobado_estudiante)
print(type(nombre_estudiante), type(edad_estudiante), type(promedio_estudiante), type(aprobado_estudiante))

Penelope Camacho 11 9.75 True
<class 'str'> <class 'int'> <class 'float'> <class 'bool'>

## Variables numéricas

Entre los tipos de datos numéricos vamos a enfocarnos en los tipos `entero` y `float`.

Tenemos una tabla de información sobre los diversos cargos, cantidad de personas empleadas y el salario correspondiente:

|Cargo | Cantidad | Salario|
|---|---|---|
|Vigilante | 5 | 300 |
|Docente | 16| 500|
|Coordinador| 2 |600|

Necesitamos trabajar con estos datos para obtener:

- La cantidad total de empleados;
- La diferencia entre el salario más bajo y más alto; y
- El promedio ponderado de los salarios de los empleados de la escuela.

In [ ]:
c_vigilante = 5
s_vigilante = 300

c_docente = 16
s_docente = 500

c_coordinador = 2
s_coordinador = 600

In [ ]:
cantidad_total = c_vigilante + c_docente + c_coordinador
cantidad_total

23

In [ ]:
canti_tol = 5 + 16 + 2
canti_tol

23

In [ ]:
diferencia_de_salario = s_coordinador- s_vigilante
diferencia_de_salario

300

In [ ]:
dife_de_sal = 600 - 300
dife_de_sal

300

In [ ]:
promedios_salarios = (c_vigilante * s_vigilante + c_docente * s_docente + c_coordinador * s_coordinador) / (c_vigilante + c_docente + c_coordinador)
promedios_salarios

465.2173913043478

In [ ]:
promedio_salarios = (5 * 300 + 16 * 500 + 2 * 600) / (5 + 16 + 2)
promedio_salarios

465.2173913043478

## Strings

Strings hace referencia a un conjunto de caracteres formando un texto.

Podemos crear Strings cuando atribuimos un dato a una variable entre comillas sencillas (`'`) o comillas dobles (`"`).

In [ ]:
t = 'Alura'
type(t)

str

Las variables textuales son objetos que poseen métodos que nos ayudan a formatear strings. Los métodos los podemos ejecutar al definir un objeto de acuerdo con la siguiente estructura:

```
objeto.metodo()
```

Existen métodos que no necesitan los `()`, siempre es una buena práctica verificar la documentación para cada caso.

---
**Situación:**

Recibimos una variable con el nombre de una profesora de la escuela para añadirla a los registros. Sin embargo, necesitamos darle un tratamiento a este texto antes de insertarlo al sistema.

In [ ]:
texto = '  Micaela de los Sanyos '

In [ ]:
id(texto)

138241546192816

El objetivo final es que el nombre aparezca de la siguiente forma:

```
'MICAELA DE LOS SANTOS'
```

### [`str.upper()` ](https://docs.python.org/3/library/stdtypes.html#str.upper)
Convierte una string a mayúsculas.

In [ ]:
texto.upper()

'  MICAELA DE LOS SANYOS '

### [`str.lower()`](https://docs.python.org/3/library/stdtypes.html#str.lower)
Convierte una string a minúsculas.

In [ ]:
texto.lower()

'  micaela de los sanyos '

### [`str.strip()`](https://docs.python.org/3/library/stdtypes.html#str.strip)
Elimina los espacios en blanco al inicio y al final de una string.

In [ ]:
texto.strip()

'Micaela de los Sanyos'

### [`str.replace(antiguo, nuevo)`](https://docs.python.org/3/library/stdtypes.html#str.replace)

Sustituye todas las ocurrencias del texto "antiguo" en la string por el  "nuevo".

In [ ]:
texto.replace( 'Sanyos', 'Santos')

'  Micaela de los Santos '

In [ ]:
texto.replace('y', 't')

'  Micaela de los Santos '

### Observaciones

1. Los métodos devuelven una **tranformación**, no son ejecutados directamente sobre la variable donde está almacenado el texto.

2. Adicionalmente, podemos acumular la ejecución de los métodos.

In [ ]:
texto.replace('Sanyos', 'Santos').strip().upper()

'MICAELA DE LOS SANTOS'

In [ ]:
texto.replace('y', 't').strip().upper()

'MICAELA DE LOS SANTOS'

Para que la transformación se pueda ejecutar debemos atribuir la salida de las transformaciones a las variables

In [ ]:
texto

'  Micaela de los Sanyos '

In [ ]:
id(texto)

138241546192816

In [ ]:
nuevo_texto = texto.strip().replace('y', 't').upper()
print(nuevo_texto)
print(id(texto), id(nuevo_texto))

MICAELA DE LOS SANTOS
138241546192816 138241545593488

In [ ]:
texto = texto.strip().replace('y', 't').upper()
print(nuevo_texto)
print(id(texto), id(nuevo_texto))

MICAELA DE LOS SANTOS
138241545506688 138241545593488

## Capturando datos

En algunas aplicaciones necesitamos capturar los valores del usuario de nuestro proyecto. En python, logramos capturar los datos del usuario a través del comando [`input()`](https://docs.python.org/3/library/functions.html#input).

Para ejecutar la captura debemos atribuir el resultado de esta función a una variable.

In [ ]:
nombre = input('Ingrese su nombre: ')

Ingrese su nombre: Diego

In [ ]:
type(nombre)

str

La salida de este comando siempre será una *string*. Esto quiere decir que aunque capturemos un valor de variable numérica, este será de tipo string.

Entonces, será necesario **convertir el resultado cuando no se desea utilizar el valor como tipo string**.

Existen funciones para la conversión de valores:

- Enteros: [`int(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#int)
- Coma flotante: [`float(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#float)
- String: [`str(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#func-str)
- Booleano: [`bool(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#bool)

In [ ]:
año_admisión = input('Ingrese el año de admisión: ')

Ingrese el año de admisión: 2024

In [ ]:
type(año_admisión)

str

In [ ]:
año_salida = input('Ingrese el año de egreso: ')

Ingrese el año de egreso: 2025

In [ ]:
type(año_salida)

str

In [ ]:
año_admisión + año_salida

'20242025'

# Manera correcta

In [ ]:
añoo_admisión = int(input('Ingrese el año de admisión: '))

Ingrese el año de admisión: 2024

In [ ]:
type(añoo_admisión)

int

In [ ]:
nota_admisión = float(input('Ingrese la nota de admisión: '))

Ingrese la nota de admisión: 9.7

In [ ]:
type(nota_admisión)

float

In [ ]:
año_egresado = int(input('Ingrese el año de egreso: '))

Ingrese el año de egreso: 2025

In [ ]:
añoo_admisión + año_egresado

4049

Trataremos de representar mejor ahora el resultado de la transformación que obtuvimos. Nosotros podemos formatear y presentar nuestro resultado mezclando strings con valores no textuales.

Para ello utilizamos la estructura de formatación `f` con strings.

In [ ]:
print(f'El año de admisión fue {año_admisión} y el año de egreso fue {año_salida}')

El año de admisión fue 2024 y el año de egreso fue 2025

In [ ]:
print('El año de admisión fue {0} y el año de egreso fue {1}'.format(año_admisión, año_salida))

El año de admisión fue 2024 y el año de egreso fue 2025

In [ ]:
print(f'El año de admisión fue {añoo_admisión} y la nota de admisión fue {nota_admisión}')

El año de admisión fue 2024 y la nota de admisión fue 9.7

In [ ]:
print(f'\nEl año de admisión fue {añoo_admisión} \ny la nota de admisión fue {nota_admisión}')

El año de admisión fue 2024
y la nota de admisión fue 9.7

In [ ]:
print(f'\tEl año de admisión fue {añoo_admisión} \n\tla nota de admisión fue {nota_admisión}')

	El año de admisión fue 2024
	la nota de admisión fue 9.7

# Practica 2

Vamos a practicar el uso de varios tipos de variables y la función input a través de algunas actividades. Resuelve los problemas propuestos en código.

### Recopilación y muestra de datos

1 - Crea un programa que solicite al usuario que escriba su nombre y luego imprima "Hola, [nombre]."

In [ ]:
nombre = input('Ingrese su nombre: ')
print(f'Hola, {nombre}')

Ingrese su nombre: Diego
Hola, Diego

2 - Crea un programa que solicite al usuario que escriba su nombre y edad, y luego imprima "Hola, [nombre], tienes [edad] años."

In [ ]:
nombree = input('Ingrese su nombre: ')
edad = int(input('Ingrese su edad: '))
print(f'hola, {nombre}, tienes {edad} años')

Ingrese su nombre: Diego
Ingrese su edad: 21
hola, Diego, tienes 21 años

3 - Crea un programa que solicite al usuario que escriba su nombre, edad y altura en metros, y luego imprima "Hola, [nombre], tienes [edad] años y mides [altura] metros."

In [ ]:
Nombre = input('Ingrese su nombre: ')
Edad = int(input('Ingrese su edad: '))
Altura = float(input('Ingrese su altura: '))
print(f'Hola, {Nombre}, tienes {Edad} años y mides {Altura} metros.')

Ingrese su nombre: Diego
Ingrese su edad: 21
Ingrese su altura: 1.75
Hola, Diego, tienes 21 años y mides 1.75 metros.

### Calculadora con operadores

4 - Crea un programa que solicite dos valores numéricos al usuario y luego imprima la suma de ambos valores.

In [ ]:
num_1 = int(input('Ingrese el primer número: '))
num_2 = int(input('Ingrese el segundo número: '))
print('La suma es:', num_1 + num_2)

Ingrese el primer número: 14
Ingrese el segundo número: 4
La suma es: 18

5 - Crea un programa que solicite tres valores numéricos al usuario y luego imprima la suma de los tres valores.

In [ ]:
num_3 = int(input('Ingrese el primer número: '))
num_4 = int(input('Ingrese el segundo número: '))
num_5 = int(input('Ingrese el segundo número: '))
print('La suma es:', num_3 + num_4 + num_5)

Ingrese el primer número: 5
Ingrese el segundo número: 5
Ingrese el segundo número: 5
La suma es: 15

6 - Crea un programa que solicite dos valores numéricos al usuario y luego imprima la resta del primero menos el segundo valor.

In [ ]:
num_15 = int(input('Ingrese el primer número: '))
num_16 = int(input('Ingrese el segundo número: '))
print('La resta es:', num_15 - num_16)

Ingrese el primer número: 16
Ingrese el segundo número: 8
La resta es: 8

7 - Crea un programa que solicite dos valores numéricos al usuario y luego imprima la multiplicación de los dos valores.

In [ ]:
num_9 = int(input('Ingrese el primer número: '))
num_8 = int(input('Ingrese el segundo número: '))
print('La multiplicacion es:', num_9 * num_8)

Ingrese el primer número: 5
Ingrese el segundo número: 5
La multiplicacion es: 25

8 - Crea un programa que solicite dos valores numéricos, un numerador y un denominador, y realice la división entre los dos valores. Asegúrate de que el valor del denominador no sea igual a 0.

In [ ]:
numerador = int(input('Ingrese el numerador: '))
denominador = int(input('Ingrese el denominador: ')) #el denominador distinto de 0
print('La division es:', numerador / denominador)

Ingrese el numerador: 36
Ingrese el denominador: 6
La division es: 6.0

9 - Crea un programa que solicite dos valores numéricos, un operador y una potencia, y realice la exponenciación entre estos dos valores.

In [ ]:
base = int(input('Ingrese la base: '))
exponente = int(input('Ingrese el exponente: '))
print('El resultado es:', base ** exponente)

Ingrese la base: 5
Ingrese el exponente: 3
El resultado es: 125

10 - Crea un programa que solicite dos valores numéricos, un numerador y un denominador, y realice la división entera entre los dos valores. Asegúrate de que el valor del denominador no sea igual a 0.

In [ ]:
numerador_2 = int(input('Ingrese el numerador: '))
denominador_2 = int(input('Ingrese el denominador: ')) #el denominador distinto de 0
print('La division entera es:', numerador_2 // denominador_2)

Ingrese el numerador: 49
Ingrese el denominador: 7
La division entera es: 7

11 - Crea un programa que solicite dos valores numéricos, un numerador y un denominador, y devuelva el resto de la división entre los dos valores. Asegúrate de que el valor del denominador no sea igual a 0.

In [ ]:
numerador_3 = int(input('Ingrese el numerador: '))
denominador_3 = int(input('Ingrese el denominador: ')) #el denominador distinto de 0
print('El resto es:', numerador_3 % denominador_3)

Ingrese el numerador: 91
Ingrese el denominador: 8
El resto es: 3

12 - Crea un código que solicite las 3 notas de un estudiante e imprima el promedio de las notas.

In [ ]:
notas_16 = float(input('Ingrese la nota 1: '))
notas_25 = float(input('Ingrese la nota 2: ')) #manera vulgar
notas_36 = float(input('Ingrese la nota 3: '))
print('El promedio es:', (notas_16 + notas_25 + notas_36) / 3)

Ingrese la nota 1: 9.7
Ingrese la nota 2: 8.5
Ingrese la nota 3: 9.6
El promedio es: 9.266666666666666

In [ ]:
notas_100 = float(input('Ingrese la nota 1: '))
notas_101 = float(input('Ingrese la nota 2: ')) #manera elegante
notas_102 = float(input('Ingrese la nota 3: '))
print(f'El promedio es: {(notas_100 + notas_101 + notas_102) / 3}')

Ingrese la nota 1: 7.6
Ingrese la nota 2: 3.5
Ingrese la nota 3: 8.2
El promedio es:, 6.433333333333333

13 - Crea un código que calcule e imprima el promedio ponderado de los números 5, 12, 20 y 15 con pesos respectivamente iguales a 1, 2, 3 y 4.

In [ ]:
promedio_ponderado = (5 * 1 + 12 * 2 + 20 * 3 + 15 * 4) / (1 + 2 + 3 + 4)
print('El promedio ponderado es:', promedio_ponderado) #manera vulgar

El promedio ponderado es: 14.9

In [ ]:
promedio_ponderado = (5 * 1 + 12 * 2 + 20 * 3 + 15 * 4) / (1 + 2 + 3 + 4)
print(f'El promedio ponderado es: {promedio_ponderado}') #manera elegante

El promedio ponderado es: 14.9

### Editando textos

14 - Crea una variable llamada "frase" y asígnale una cadena de texto de tu elección. Luego, imprime la frase en pantalla.

In [ ]:
frace_14 = input('ingrese una frace: ')
print(frace_14) #eta bien, ero pedian lo de abajo

ingrese una frace: SOY  MEJOR DEL MUNDO
SOY  MEJOR DEL MUNDO

In [ ]:
frace_100 = '¡Hola Python'
print(frace_100)

¡Hola Python

15 - Crea un código que solicite una frase y luego imprima la frase en pantalla.

In [ ]:
frace_15 = input('ingrese una frace: ')
print(frace_15)

ingrese una frace: soy el mejor del mundo
soy el mejor del mundo

16 - Crea un código que solicite una frase al usuario y luego imprima la misma frase ingresada pero en mayúsculas.

In [ ]:
frace_10 = input('ingrese una frace: ')
print(frace_10.upper())

ingrese una frace: soy el mejor del mundo
SOY EL MEJOR DEL MUNDO

17 - Crea un código que solicite una frase al usuario y luego imprima la misma frase ingresada pero en minúsculas.

In [ ]:
frace_9 = input('ingrese una frace: ')
print(frace_9.lower())

ingrese una frace: SOY EL MEJOR DELMUNDO
soy el mejor delmundo

18 - Crea una variable llamada "frase" y asígnale una cadena de texto de tu elección. Luego, imprime la frase sin espacios en blanco al principio y al final.

In [ ]:
frace_8 = input('ingrese una frace: ')
print(frace_8.strip()) # maso

ingrese una frace:          'PAPÁ ES EL MEJR'
'PAPÁ ES EL MEJR'

In [ ]:
frase_hey = ' ¡Hola Python! '
print(frase_hey.strip())

¡Hola Python!

19 - Crea un código que solicite una frase al usuario y luego imprima la misma frase sin espacios en blanco al principio y al final.

In [ ]:
frace_4 = input('ingrese una frace: ')
print(frace_4.strip())

ingrese una frace:        MAMÁ ES LA MEJOR
MAMÁ ES LA MEJOR

20 - Crea un código que solicite una frase al usuario y luego imprima la misma frase sin espacios en blanco al principio y al final, además de convertirla a minúsculas.

In [ ]:
frace_1 = input('ingrese una frace: ')
print(frace_1.lower().strip())

ingrese una frace:          'HOLA BEBE'
'hola bebe'

21 - Crea un código que solicite una frase al usuario y luego imprima la misma frase con todas las vocales "e" reemplazadas por la letra "f".

In [ ]:
frase_usuario = input('Ingrese una frace: ')
print(frase_usuario.replace('e', 'f'))

Ingrese una frace: Elefante
Elffantf

22 - Crea un código que solicite una frase al usuario y luego imprima la misma frase con todas las vocales "a" reemplazadas por el carácter "@".

In [ ]:
frace_24 = input('Ingrese una frace: ')
print(frace_24.replace('a', '@'))

Ingrese una frace: casa
c@s@

In [ ]:
frase_25 = input('Escribe una frase: ')
print(frase_25.lower().replace('a',chr(64)))

Escribe una frase: PAJARA
p@j@r@

23 - Crea un código que solicite una frase al usuario y luego imprima la misma frase con todas las consonantes "s" reemplazadas por el carácter "$".

In [ ]:
frace_23 = input('Ingrese una frace: ')
print(frace_23.replace('s', '$'))

Ingrese una frace: asistir
a$i$tir

In [ ]:
frase_69 = input('Escribe una frase: ')
print(frase_69.lower().replace('s',chr(36)))

Escribe una frase: SAPO
$apo

# Estructuras condicionales

In [ ]:
# Nota de aprobacion entre 7 y 10 == nota de aprovacion => 7
# Nota de reprobacion  es menor a 7 == nota de reprobacion < 7


"""
Si la nota del estudiante es mayor a 7 el estudiante aprueba
Si no, el estudiante reprueba
"""

'\nSi la nota del estudiante es mayor a 7 el estudiante aprueba\nSi no, el estudiante reprueba\n'

## `IF` y `ELSE`

Los comandos `if` y `else` son dos estructuras condicionales. El comando `if` ejecutará el bloque de comandos en caso de que la condición citada sea  **verdadera**. El comando `else` ejecutará el bloque de comandos en el caso de que la condicional de `if` sea **falsa**.

El comando `if` es una palabra clave en Python que significa "si". Este se emplea para conformar la estructura condicional, que te permite verificar si una determinada condición es verdadera o falsa e, inmediatamente después, ejecute un bloque de código específico dependiendo del resultado de la verificación. La sintaxis para usar el comando `if` es:



```
if condicion:
    # Realiza algo
```

In [ ]:
if 2 > 1:
  print('Verdadero')

Verdadero

In [ ]:
if 2 < 7:
  print('La condicion es verdadera.')

La condicion es verdadera

In [ ]:
if 2 > 7:
  print('La condicion es verdadera.')
  print('Fin de la consulta')

"""
Imprime solo el "Fin de la consulta"
Porque la condicion no se cumple.
"""

'\nImprime solo el "Fin de la consulta"\nPorque la condicion no se cumple.\n'

In [ ]:
if 2 > 7:
  print('La condicion es verdadera.')
print('Fin de la consulta')

Fin de la consulta

Ya el comando `else` en Python se usa en junción con la palabra clave `if` para formar una estructura condicional. la sintaxis para usar el `else` es:

```
if condicion:
  # codigo en caso de que sea verdad
else:
  # codigo en caso de que sea falso
```

el comando `else` se ejecuta cuando la condición verificada por el `if` es evaluada como `False`.

In [ ]:
if 2 > 7:
  print('La condicion es verdadera.')
else:
  print('La condicion es falsa.')
print('Fin de la consulta')

La condicion es falsa.
Fin de la consulta

In [ ]:
edad_Maria = int(input('Ingrese la edad de Maria: '))

if edad_Maria >= 18:
  print('Maria es mayor de edad.')
else:
  print('Maria es menor de edad.')

Ingrese la edad de Maria: 12
Maria es menor de edad.

In [ ]:
edad_juan = int(input('Ingrese la edad de Juan: '))
edad_carlos = int(input('Ingrese la edad de Carlos: '))

if edad_juan > edad_carlos:
  print('Juan es mayor que Carlos.')
else:
  print('Carlos es mayor que Juan.')

Ingrese la edad de Juan: 16
Ingrese la edad de Carlos: 21
Carlos es mayor que Juan.

In [ ]:
notas_Pedro = float(input('Ingrese la nota de Pedro: '))

if notas_Pedro >= 7:
  print('Pedro aprueba.')
else:
  print('Pedro reprueba.')

Ingrese la nota de Pedro: 6.9
Pedro reprueba.

In [ ]:
notas_Diego = float(input('Ingrese la nota de Diego: '))
notas_Randall = float(input('Ingrese la nota de Randall: '))

if notas_Diego >= 7 and notas_Randall >= 7:
  print('Ambos aprueban.')
else:
  print('Alguno reprueba.')

Ingrese la nota de Diego: 9
Ingrese la nota de Randall: 5
Alguno reprueba.

In [ ]:
altura_jesus = float(input('Ingrese la altura de Jesus: '))

if altura_jesus >= 1.70:
  print('Jesus es alto.')
else:
  print('Jesus es bajo.')

Ingrese la altura de Jesus: 1.90
Jesus es alto.

In [ ]:
altura_felipe = float(input('Ingrese la altura de Felipe: '))
altura_juan = float(input('Ingrese la altura de Juan: '))

if altura_felipe >= 1.70 and altura_juan >= 1.70:
  print('Ambos son altos.')
else:
  print('Alguno es bajo.')

Ingrese la altura de Felipe: 1.90
Ingrese la altura de Juan: 1.90
Ambos son altos.

---
**Situación:**

Recibiremos el promedio de la nota de los estudiantes y necesitamos de un algoritmo que ejecute el análisis y determine si el estudiante fue **Aprobado** o **Reprobado**, mostrando un mensaje del resultado. Para ser aprobado, el promedio necesita ser igual o superior a 7.0.

In [ ]:
notas_estudiantes = float(input('Ingrese el promedio de la nota: '))

if notas_estudiantes >= 7:
  print('El estudiante fue aprobado.')
else:
  print('El estiudiante fue reprobado.')

Ingrese el promedio de la nota: 7
El estudiante fue aprobado.

Ahora, nuestra institución educativa estableció que las personas que tengan el promedio entre 5.0 y 7.0 pueden participar del curso de **Recuperación** durante las vacaciones para lograr aprobar.

Entonces podemos apoyarnos en un conjunto de `if`s para poder estructurar esta nueva condición.

In [ ]:
notas_estudiantes = float(input('Ingrese el promedio de la nota: '))

if notas_estudiantes >= 7:
  print('El estudiante fue aprobado.')
if notas_estudiantes >= 5 and notas_estudiantes < 7:
  print('El estudiante puede recuperar.')
else:
  print('El estiudiante fue reprobado.')

Ingrese el promedio de la nota: 6
El estudiante puede recuperar.

In [ ]:
nota_est = float(input('Ingrese la nota del estudiante: '))

if nota_est >= 7:
  print('Aprobo')
if 7 > nota_est >= 5:
  print('Recuperacion')
if nota_est < 5:
  print('Reprobo')

Ingrese la nota del estudiante: 4
Reprobo

Observa que en casos con 3 situaciones como este necesitamos definir bien nuestras condiciones. Pues, si realizamos una condición con `else` al final, este irá a considerar solamente la condición `if` inmediatamente anterior para generar la salida en caso de que el resultado de su operación lógica sea **falso** dando como resultado, dos o más ejecuciones.

Por ejemplo:

In [ ]:
nota_est = float(input('Ingrese la nota del estudiante: '))

if nota_est >= 7:
  print('Aprobo')
if 7 > nota_est >= 5:
  print('Recuperacion')
else:
  print('Reprobo')

Ingrese la nota del estudiante: 9
Aprobo
Reprobo

## `ELIF`

El comando `elif` es una palabra clave en Python que significa "si no, si" y lo podemos considerar una *contracción* entre `else` e `if`. Se utiliza en conjunto con la palabra clave `if` para formar una estructura condicional en cadena.

la sintaxis para utilizar el comando `elif` es:

```
if condicion1:
    # Realiza algo
elif condicion2:
    # Realiza otra cosa
elif condicion3:
    # Realiza otra cosa
else:
    # Realiza algo diferente
```

El comando `elif` permite que puedas verificar varias condiciones en cadena, economizando espacio en tu código. Si la primera condición se evalúa como `False`, el interpretador de Python evaluará la próxima condición con el `elif`. Ello continuará hasta que una condición sea evaluada como `True` o hasta que el `else` sea alcazado. Si ninguna de las condiciones es evaluada como `True`, la ejecución del código del comando `else` será iniciada.

Vamos a emplear el mismo caso anterior:

In [ ]:
nota_est = float(input('Ingrese la nota del estudiante: '))

if nota_est >= 7:
  print('Aprobo')
elif 7 > nota_est >= 5:
  print('Recuperacion')
else:
  print('Reprobo')

Ingrese la nota del estudiante: 5
Recuperacion

In [ ]:
estatura = float(input('Ingrese la estatura del estudiante: '))

if estatura >= 1.70:
  print('Es alto')
elif 1.70 > estatura >= 1.60:
  print('Es medio')
else:
  print('Es bajo')

Ingrese la estatura del estudiante: 1.65
Es medio

## Operadores

Durante la construcción de comandos a veces necesitamos de una elaboración mayor de la expresión condicional, necesitando que algunos operadores lógicos se encuentren integrados.

### `AND`, `OR`, `NOT`

Los operadores lógicos `and`, `or` y `not` son usados para combinar expresiones lógicas en Python. Ellos son usados frecuentemente en conjunto con el comando `if` para crear estructuras condicionales más complejas.

- `AND` es usado para verificar si dos condiciones son verdaderas. La expresión lógica¹ `x and y` se evalúa como `True` tan solo si **ambas condiciones `x` y `y` son verdaderas**, y como `False` en caso contrario.

- `OR` es usado para verificar si al menos una de las condiciones es verdadera. La expresión lógica `x or y` se evalúa como `True` **si al menos una de las condiciones `x` o `y` es verdadera**, y como `False` si ambas condiciones son falsas.

- `NOT` es usado para **negar una condición**. La expresión lógica `not x` es evaluada como `True` si la condición x es falsa, y como `False` si la condición x es verdadera.

¹ Una expresión lógica es una declaración que puede ser evaluada como verdadera o falsa. Ella se compone por operandos lógicos² y por operadores lógicos³, que son usados ​​para combinar varias expresiones lógicas en una única expresión.

² Los operandos lógicos son los elementos que son comparados o evaluados en una expresión lógica. Ellos son generalmente valores verdaderos o falsos, pero también pueden ser expresiones lógicas más complejas. En Python, los operandos lógicos son los valores `True` y `False`.

³ Los operadores lógicos son ls símbolos o palabras clave que son usados ​​para combinar varias expresiones lógicas en una única expresión. En Python, los operadores lógicos son `and`, `or` y `not`, bien como las palabras clave `if`, `elif` e `else`.

> Operadores lógicos más comunes

|a|b|AND|OR|NOT|
|-|-|-|-|-|
|0|0|0|0|1
|0|1|0|1|-
|1|0|0|1|-
|1|1|1|1|0

In [ ]:
v = True
f = False

In [ ]:
if v and v:
  print('Verdadero') # el operador logico es AND
else:
  print('Falso')

Verdadero

In [ ]:
if v and f:
  print('Verdadero')
else:
  print('Falso')

Falso

In [ ]:
if f and f:
  print('Verdadero')
else:
  print('Falso')

Falso

In [ ]:
if v or f:
  print('Verdadero')
else:
  print('Falso')

Verdadero

In [ ]:
if f or f:
  print('Verdadero') #El operador logico es OR
else:
  print('Falso')

Falso

In [ ]:
if v or v:
  print('Verdadero')
else:
  print('Falso')

Verdadero

In [ ]:
if f or v:
  print('Verdadero')
else:
  print('Falso')

Verdadero

In [ ]:
if not f:
  print('Verdadero') #el operador es NOT
else:
  print('Falso')

Verdadero

In [ ]:
if not v:
  print('Verdadero')
else:
  print('Falso')

Falso

### `IN`

Es usado para verificar si un elemento está presente en una lista, tupla u otra colección de conjunto. La expresión `x in y` se evalúa como `True` si el elemento `x` esta presente na variávelen la variable de conjunto `y`, y como `False` en caso contrario.

Podemos verificarlo con variables de texto.

---

**Situación:**

En la escuela nos entregaron una lista con nombres de estudiantes que fueron aprobados según el promedio del semestre, pero es necesario verificar si algunos nombres están en esa lista para confirmar que los datos estén correctos.

La lista distribuida puede ser observada a continuación:

```
lista = 'Juan Pérez, María González, Pedro Rodríguez, Ana López, Carlos Martínez,
    Laura Sánchez, José García, Elena Fernández, Luis Morales, Carmen Torres,
    David Ruiz, Isabel Ramírez, Javier Díaz, Sara Herrera, Miguel Castro,
    Patricia Ortega, Francisco Vargas, Marta Jiménez, Manuel Medina, Rosa Molina,
    Alejandro Silva, Silvia Ruiz, Andrés Torres, Natalia Soto, Diego Guerrero,
    Paula Ríos, Ricardo Navarro, Alicia Cordero, Carlos Vidal, Lorena Gómez'
```

Los nombres que necesitas verificar son los siguientes:

```
nombre_1 = 'Miguel Castro'
nombre_2 = 'Marcelo Noguera'
```

In [ ]:
lista = 'Juan Pérez, María González, Pedro Rodríguez, Ana López, Carlos Martínez, Laura Sánchez, José García, Elena Fernández, Luis Morales, Carmen Torres, David Ruiz, Isabel Ramírez, Javier Díaz, Sara Herrera, Miguel Castro, Patricia Ortega, Francisco Vargas, Marta Jiménez, Manuel Medina, Rosa Molina, Alejandro Silva, Silvia Ruiz, Andrés Torres, Natalia Soto, Diego Guerrero, Paula Ríos, Ricardo Navarro, Alicia Cordero, Carlos Vidal, Lorena Gómez'

In [ ]:
nombre_1 = 'Miguel Castro'
nombre_2 = 'Marcelo Noguera'

In [ ]:
if nombre_1 in lista:
  print(f'{nombre_1} aprobo.')
else:
  print(f'{nombre_1} reprobo.')

Miguel Castro aprobo.

In [ ]:
if nombre_2 in lista:
  print(f'{nombre_2} aprobo.')
else:
  print(f'{nombre_2} reprobo.')

Marcelo Noguera reprobo.

# PRACTICA 3 Entrenando la programación

1 - Escribe un programa que pida a la persona usuaria que proporcione dos números y muestre el número más grande.

In [ ]:
NUM_1 = int(input('Ingrese el primer numero: '))
NUM_2 = int(input('Ingrese el segundo numero: '))

if NUM_1 > NUM_2:
  print(f'El numero mayor es: {NUM_1}')
else:
  print(f'El numero mayor es: {NUM_2}')

Ingrese el primer numero: 15
Ingrese el segundo numero: 1
El numero mayor es: 15

In [ ]:
# Recolectamos los números
num1 = float(input('Ingrese el primer número: '))
num2 = float(input('Ingrese el segundo número: '))
# Comparamos ambos números y determinamos cuál es el mayor
if num1 > num2:
    print(f'El primer número es mayor: {num1}')
elif num2 > num1:
    print(f'El segundo número es mayor: {num2}')
else: # En caso de que los números sean iguales
    print('Ambos números son iguales.')

Ingrese el primer número: 6
Ingrese el segundo número: 9
El segundo número es mayor: 9.0

2 - Escribe un programa que solicite el porcentaje de crecimiento de producción de una empresa e informe si hubo un crecimiento (porcentaje positivo) o una disminución (porcentaje negativo).

In [ ]:
porcentaje = float(input('Ingrese el porcentaje de crecimiento de la produccion: '))

if porcentaje > 0:
  print('Hubo un crecimiento')
else:
  print('Hubo una disminucion')

Ingrese el porcentaje de crecimiento de la produccion: 20
Hubo un crecimiento

In [ ]:
# Recolectamos el porcentaje
variación = float(input('Ingrese el porcentaje de crecimiento: '))
# Verificamos si el valor es positivo o negativo con una comparación para ver si el número
# es mayor o menor que 0
if variación > 0:
    print(f'Hubo un crecimiento del {variación}%')
elif variación < 0:
    print(f'Hubo un decrecimiento del {variación}%')
else:
    print('No hubo crecimiento ni decrecimiento.')

Ingrese el porcentaje de crecimiento: 20
Hubo un crecimiento del 20.0%

3 - Escribe un programa que determine si una letra proporcionada por la persona usuaria es una vocal o una consonante.

In [ ]:
letra = input('Ingrese una letra: ')

if letra in 'aeiou':
  print('Es una vocal')
else:
  print('Es una consonante')

Ingrese una letra: t
Es una consonante

In [ ]:
# Recolectamos la letra del usuario en minúsculas
letra = input('Ingrese una letra: ').lower()
vocales = 'aeiou' # cadena que contiene todas las vocales
# Verificamos si la letra está en las vocales con `in`
if letra in vocales:
    print('La letra es una vocal.')
else:
    print('La letra es una consonante.')

Ingrese una letra: y
La letra es una consonante.

4 - Escribe un programa que lea valores promedio de precios de un modelo de automóvil durante 3 años consecutivos y muestre el valor más alto y más bajo entre esos tres años.

In [ ]:
valor_promedio_1 = float(input('Ingrese el valor promedio del primer año: '))
valor_promedio_2 = float(input('Ingrese el valor promedio del segundo año: '))
valor_promedio_3 = float(input('Ingrese el valor promedio del tercer año: '))

if valor_promedio_1 > valor_promedio_2 and valor_promedio_1 > valor_promedio_3:
  print(f'El valor promedio mas alto es: {valor_promedio_1}')
  print(f'El valor promedio más bajo es: {valor_promedio_3} ')
elif valor_promedio_2 > valor_promedio_1 and valor_promedio_2 > valor_promedio_3:
  print(f'El valor promedio mas alto es: {valor_promedio_2}')
  print(f'El valor promedio más bajo es: {valor_promedio_1} ')
else:
  print(f'El valor promedio mas alto es: {valor_promedio_3}')
  print(f'El valor promedio más bajo es: {valor_promedio_2} ')

Ingrese el valor promedio del primer año: 5.78
Ingrese el valor promedio del segundo año: 4.99
Ingrese el valor promedio del tercer año: 9
El valor promedio mas alto es: 9.0
El valor promedio más bajo es: 4.99

In [ ]:
# Recolectamos los precios de los 3 años
precio_ano1 = float(input('Ingrese el precio promedio del automóvil en el primer año: '))
precio_ano2 = float(input('Ingrese el precio promedio del automóvil en el segundo año: '))
precio_ano3 = float(input('Ingrese el precio promedio del automóvil en el tercer año: '))
# Determinamos el valor más alto mediante comparaciones
mayor = precio_ano1
if precio_ano2 > mayor:
  mayor = precio_ano2
if precio_ano3 > mayor:
  mayor = precio_ano3
# Determinamos el valor más bajo mediante comparaciones
menor = precio_ano1
if precio_ano2 < menor:
  menor = precio_ano2
if precio_ano3 < menor:
  menor = precio_ano3
# Mostramos los resultados
print(f'El precio más alto fue de R$ {mayor}.')
print(f'El precio más bajo fue de R$ {menor}.')

Ingrese el precio promedio del automóvil en el primer año: 5.78
Ingrese el precio promedio del automóvil en el segundo año: 9
Ingrese el precio promedio del automóvil en el tercer año: 4.99
El precio más alto fue de R$ 9.0.
El precio más bajo fue de R$ 4.99.

5 - Escribe un programa que pregunte sobre el precio de tres productos e indique cuál es el producto más barato para comprar.

In [ ]:
precio_1 = float(input('Ingrese el precio del primer producto: '))
precio_2 = float(input('Ingrese el precio del segundo producto: '))
precio_3 = float(input('Ingrese el precio del tercer producto: '))

if precio_1 < precio_2 and precio_1 < precio_3:
  print(f'El producto mas barato es: {precio_1}')
elif precio_2 < precio_1 and precio_2 < precio_3:
  print(f'El producto mas barato es: {precio_2}')
else:
  print(f'El producto mas barato es: {precio_3}')

Ingrese el precio del primer producto: 7.99
Ingrese el precio del segundo producto: 9.10
Ingrese el precio del tercer producto: 10
El producto mas barato es: 7.99

6 - Escribe un programa que lea tres números y los muestre en orden descendente.

In [ ]:
numero_55 = int(input('Ingrese el primer numero: '))
numero_66 = int(input('Ingrese el segundo numero: '))
numero_77 = int(input('Ingrese el tercer numero: '))

Ingrese el primer numero: 5
Ingrese el segundo numero: 6
Ingrese el tercer numero: 7

In [ ]:
# Recolectamos los 3 números
num1 = int(input('Ingrese el primer número: '))
num2 = int(input('Ingrese el segundo número: '))
num3 = int(input('Ingrese el tercer número: '))

# Comparación entre los 3 números
if (num1 >= num2) and (num1 >= num3):
    print(num1)
    if num2 >= num3:
        print(num2)
        print(num3)
    else:
        print(num3)
        print(num2)
elif (num2 >= num1) and (num2 >= num3):
    print(num2)
    if num1 >= num3:
        print(num1)
        print(num3)
    else:
        print(num3)
        print(num1)
else:
    print(num3)
    if num1 >= num2:
        print(num1)
        print(num2)
    else:
        print(num2)
        print(num1)

Ingrese el primer número: 65
Ingrese el segundo número: 7
Ingrese el tercer número: 9
65
9
7

7 -Escribe un programa que pregunte en qué turno estudia la persona usuaria ("mañana", "tarde" o "noche") y muestre el mensaje "¡Buenos Días!", "¡Buenas Tardes!", "¡Buenas Noches!" o "Valor Inválido!", según el caso.

In [ ]:
turno = input('Ingrese el turno que estudia: ')

if turno == 'mañana':
  print('¡Buenos dias!')
elif turno == 'tarde':
  print('¡Buenas tardes!')
elif turno == 'noche':
  print('¡Buenas noches!')

Ingrese el turno que estudia: noche
¡Buenas noches!

8 - Escribe un programa que solicite un número entero a la persona usuaria y determine si es par o impar. Pista: Puedes usar el operador módulo (%).

In [ ]:
NuMero = int(input('Ingrese un numero: '))

if NuMero % 2 == 0:
  print('Es un numero par')
else:
  print('Es un numero impar')

Ingrese un numero: 3
Es un numero impar

9 - Escribe un programa que pida un número a la persona usuaria y le informe si es entero o decimal.

In [ ]:
NUMERO = float(input('Ingrese un numero: '))

if NUMERO == int(NUMERO):
  print('Es un numero entero')
else:
  print('Es un numero decimal')

Ingrese un numero: 3.6
Es un numero decimal

In [ ]:
# Recolectamos los datos
num = float(input('Ingresa un número: '))
# Verificamos si el número es entero o decimal según el resultado del módulo
if num % 1 == 0:
    print('El número es entero.')
else:
    print('El número es decimal.')

Ingresa un número: 3.7
El número es decimal.

# Momento de los proyectos

10 - Un programa debe ser escrito para leer dos números y luego preguntar a la persona usuaria qué operación desea realizar. El resultado de la operación debe incluir información sobre el número, si es par o impar, positivo o negativo, e entero o decimal.

In [ ]:
# Recolectamos los números a operar y solicitamos la operación deseada por el usuario
num1 = float(input('Ingrese el primer número: '))
num2 = float(input('Ingrese el segundo número: '))
operación = input('Ingrese la operación deseada (+, -, *, /): ')

# Verificamos la operación seleccionada y realizamos la operación matemática según la elección
if operación == '+':
    resultado = num1 + num2
elif operación == '-':
    resultado = num1 - num2
elif operación == '*':
    resultado = num1 * num2
elif operación == '/':
    resultado = num1 / num2
else: # Especificamos un resultado en caso de que el usuario no ingrese una de las operaciones correctamente.
    print('Operación no válida, el resultado de la operación será 0')
    resultado = 0

# Realizamos las mismas verificaciones que en preguntas anteriores para generar el informe del cálculo entre números
if resultado % 1 == 0:
    print('El resultado es un número entero.')
else:
    print('El resultado es un número decimal.')

if  resultado > 0:
    print('El resultado es positivo.')
else:
    print('El resultado es negativo.')

if  resultado % 2 == 0:
    print('El resultado es un número par.')
else:
    print('El resultado es un número impar.')

Ingrese el primer número: 5
Ingrese el segundo número: 8
Ingrese la operación deseada (+, -, *, /): +
El resultado es un número entero.
El resultado es positivo.
El resultado es un número impar.

11 - Escribe un programa que pida a la persona usuaria tres números que representan los lados de un triángulo. El programa debe informar si los valores pueden utilizarse para formar un triángulo y, en caso afirmativo, si es equilátero, isósceles o escaleno. Ten en cuenta algunas sugerencias:

Tres lados forman un triángulo cuando la suma de cualesquiera dos lados es mayor que el tercero;

Triángulo Equilátero: tres lados iguales;

Triángulo Isósceles: dos lados iguales;

Triángulo Escaleno: tres lados diferentes.

In [ ]:
numero_G = int(input('Ingrese el primer numero: '))
numero_H = int(input('Ingrese el segundo numero: '))
numero_I = int(input('Ingrese el tercer numero: '))

if numero_G == numero_H == numero_I:
  print('Se puede formar un triangulo y es un triangulo Equilatero')
elif numero_G == numero_H != numero_I:
  print('Se puede formar un triangulo y es un triangulo Isosceles')
else:
  print('Se puede formar un triangulo y es un triangulo Escaleno')

Ingrese el primer numero: 5
Ingrese el segundo numero: 5
Ingrese el tercer numero: 6
Se puede formar un triangulo y es un triangulo Isosceles

In [ ]:
# Recolectamos los lados de un triángulo
print('Estamos recopilando los lados de un triángulo.')
lado1 = float(input('Ingresa la longitud del primer lado: '))
lado2 = float(input('Ingresa la longitud del segundo lado: '))
lado3 = float(input('Ingresa la longitud del tercer lado: '))

# Verificamos si los lados pueden formar un triángulo
if (lado1 + lado2 > lado3) and (lado2 + lado3 > lado1) and (lado1 + lado3 > lado2):
    print('¡Los valores pueden formar un triángulo!')
    # Comparamos los lados para determinar el tipo de triángulo
    if (lado1 == lado2) and (lado2 == lado3):
        print('El triángulo es equilátero.')
    elif (lado1 != lado2) and (lado2 != lado3) and (lado1 != lado3):
        print('El triángulo es escaleno.')
    else:
        print('El triángulo es isósceles.')
else:
    print('¡Los valores no pueden formar un triángulo!')

Estamos recopilando los lados de un triángulo.
Ingresa la longitud del primer lado: 5
Ingresa la longitud del segundo lado: 5
Ingresa la longitud del tercer lado: 7
¡Los valores pueden formar un triángulo!
El triángulo es isósceles.

12 - Un establecimiento está vendiendo combustibles con descuentos variables. Para el etanol, si la cantidad comprada es de hasta 15 litros, el descuento será del 2% por litro. En caso contrario, será del 4% por litro. Para el diésel, si la cantidad comprada es de hasta 15 litros, el descuento será del 3% por litro. En caso contrario, será del 5% por litro. El precio por litro de diésel es de R$200,  y,
el,  precio, por, litro, de, etanol, es, de, R$ 1,70. Escribe un programa que lea la cantidad de litros vendidos y el tipo de combustible (E para etanol y D para diésel) y calcule el valor a pagar por el cliente. Ten en cuenta algunas sugerencias:

El valor del descuento será el producto del precio por litro, la cantidad de litros y el valor del descuento.

El valor a pagar por un cliente será el resultado de la multiplicación del precio por litro por la cantidad de litros menos el valor del descuento resultante del cálculo.

In [ ]:
# Recolectamos la cantidad de litros y el tipo de combustible,
# convirtiendo el carácter en mayúsculas para facilitar nuestro análisis
cantidad_litros = float(input('Ingrese la cantidad de litros vendidos: '))
tipo_combustible = input('Ingrese el tipo de combustible (E para etanol y D para diésel): ').upper()

# Verificamos primero el tipo de combustible
if tipo_combustible == 'E':
  # Establecemos el precio por litro de etanol
  precio_litro = 1.70
  # Según la cantidad de litros, establecemos el descuento correspondiente
  if cantidad_litros <= 15:
    descuento = 0.02
  else:
    descuento = 0.04
elif tipo_combustible == 'D':
  # Establecemos el precio por litro de diésel
  precio_litro = 2.00
  # Según la cantidad de litros, establecemos el descuento correspondiente
  if cantidad_litros <= 15:
    descuento = 0.03
  else:
    descuento = 0.05
# En caso de error en la especificación del tipo de combustible,
# consideramos las entradas como no válidas y establecemos los precios y descuentos en 0
else:
    print('Entradas no válidas!')
    precio_litro = 0
    descuento = 0

# Calculamos el valor del descuento, seguido del cálculo del precio descontado
valor_descuento = precio_litro * cantidad_litros * descuento
valor_pagado = precio_litro * cantidad_litros - valor_descuento

# Resultado
print(f'Valor a pagar por el cliente: R$ {valor_pagado}')

Ingrese la cantidad de litros vendidos: 5
Ingrese el tipo de combustible (E para etanol y D para diésel): E
Valor a pagar por el cliente: R$ 8.33

13 - En una empresa de venta de bienes raíces, debes crear un código que analice los datos de ventas anuales para ayudar a la dirección en la toma de decisiones. El código debe recopilar los datos de cantidad de ventas durante los años 2022 y 2023 y calcular la variación porcentual. A partir del valor de la variación, se deben proporcionar las siguientes sugerencias:

Para una variación superior al 20%: bonificación para el equipo de ventas.

Para una variación entre el 2% y el 20%: pequeña bonificación para el equipo de ventas.

Para una variación entre el 2% y el -10%: planificación de políticas de incentivo a las ventas.

Para bonificaciones inferiores al -10%: recorte de gastos.

In [ ]:
bienes_raices_2022 = int(input('Ingrese la cantidad de bienes raíces en 2022: '))
bienes_raices_2023 = int(input('Ingrese la cantidad de bienes raíces en 2023: '))

variacion = ((bienes_raices_2023 - bienes_raices_2022) / bienes_raices_2022) * 100

if variacion > 20:
  print('Bonificacion para el equipo de ventas')
elif 20 >= variacion > 2:
  print('Pequeña bonificacion para el equipo de ventas')
elif 2 >= variacion > -10:
  print('Planificacion de politicas de incentivo a las ventas')
else:
  print('Recorte de gastos2')

Ingrese la cantidad de bienes raíces en 2022: 20
Ingrese la cantidad de bienes raíces en 2023: 20
Planificacion de politicas de incentivo a las ventas

In [ ]:
# Recolectamos las ventas de los dos años
venta_2022 = float(input('Ingrese la cantidad de ventas en 2022: '))
venta_2023 = float(input('Ingrese la cantidad de ventas en 2023: '))

# Calculamos la variación porcentual entre las ventas de los años 2022 y 2023
var_porcentual = 100 * (venta_2023 - venta_2022) / (venta_2022)

# Análisis condicional de la variación porcentual para determinar la sugerencia a enviar
if var_porcentual > 20:
    print('Bonificación para el equipo de ventas.')
elif 2 <= var_porcentual <= 20:
    print('Pequeña bonificación para el equipo de ventas.')
elif -10 <= var_porcentual < 2:
    print('Planificación de políticas de incentivo a las ventas.')
else:
    print('Recorte de gastos.')

Ingrese la cantidad de ventas en 2022: 20
Ingrese la cantidad de ventas en 2023: 20
Planificación de políticas de incentivo a las ventas.

# Estructuras de repetición

Cuando tenemos que ejecutar un mismo bloque de comandos durante varias ocasiones no es nada práctico hacerlo a mano.

**Situación**: Nos fue solicitado obtener e imprimir el promedio de 2 notas de **3 estudantes**:

In [ ]:
nota_1 = float(input('Digite la primera nota: '))
nota_2 = float(input('Digite la segunda nota: '))
print(f'El promedio del estudiante 1 es: {(nota_1 + nota_2) / 2}')

nota_1 = float(input('Digite la primera nota: '))
nota_2 = float(input('Digite la segunda nota: '))
print(f'El promedio del estudiante 2 es: {(nota_1 + nota_2) / 2}')

nota_1 = float(input('Digite la primera nota: '))
nota_2 = float(input('Digite la segunda nota: '))
print(f'El promedio del estudiante 3 es: {(nota_1 + nota_2) / 2}')

Digite la primera nota: 9.7
Digite la segunda nota: 7.8
El promedio del estudiante 1 es: 8.75
Digite la primera nota: 6.5
Digite la segunda nota: 3.5
El promedio del estudiante 2 es: 5.0
Digite la primera nota: 7
Digite la segunda nota: 8.5
El promedio del estudiante 3 es: 7.75

Ahora imaginemos una situación en que no son tan solo 3 estudiantes, sino 100 estudiantes. No sería nada interesante repetir el mismo código 100 veces, sino **ejecutar el mismo código 100 veces**.

¡Esta estructura la logramos construir con lazos de repetición!

## `WHILE`

El lazo `while` es una estructura de control de repetición en Python que permite ejecutar un bloque de código repetidamente mientras que una determinada condición sea verdadera. Su estructura es:



```
while condicion:
    # bloque de codigo
```

Vamos a construir un ejemplo con un contador de 1 hasta 10.

In [ ]:
contador = 1
while contador <= 10:
  print(contador)
  contador += 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
contado_1 = 30
while contado_1 >= 1:
  print(contado_1)
  contado_1 -= 1

30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [ ]:
contador_2 = 30
while contador_2 <= 100:
  print(contador_2)
  contador_2 += 1

30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

Ahora vamos a colectar las notas y promedios de cada alumno dentro del lazo `while`. Haremos un ejemplo con 3 promedios.

In [ ]:
contador = 1
while contador <= 3:
  nota_1 = float(input('Digite la primera nota: '))
  nota_2 = float(input('Digite la segunda nota: '))
  print(f'El promedio es: {(nota_1 + nota_2) / 2}')

  contador += 1

Digite la primera nota: 6.7
Digite la segunda nota: 8.9
El promedio es: 7.800000000000001
Digite la primera nota: 9.9
Digite la segunda nota: 10
El promedio es: 9.95
Digite la primera nota: 9.7
Digite la segunda nota: 8.5
El promedio es: 9.1

In [ ]:
contador_3 = 1
while contador_3 <= 5:
  nota_16 = float(input('Digite la primera nota: '))
  nota_26 = float(input('Digite la segunda nota: '))
  print(f'El promedio es: {(nota_16 + nota_26) / 2}')

  contador_3 += 1

Digite la primera nota: 8
Digite la segunda nota: 8
El promedio es: 8.0
Digite la primera nota: 9
Digite la segunda nota: 8
El promedio es: 8.5
Digite la primera nota: 9
Digite la segunda nota: 9.7
El promedio es: 9.35
Digite la primera nota: 3.5
Digite la segunda nota: 8.5
El promedio es: 6.0
Digite la primera nota: 4.9
Digite la segunda nota: 10
El promedio es: 7.45

## `FOR`

El lazo `for` es un tipo de estructura de control de flujo en Python que permite iterar sobre un conjunto de elementos. Su estructura es:



```
for elemento in conjunto:
    # codigo a ser ejecutado para cada elemento
```

El lazo `for` itera sobre cada elemento del conjunto especificado y ejecuta el bloque de código dentro del lazo para cada elemento. Cuando el lazo llega al final del conjunto, este se interrumpe y el programa continúa la ejecución después del lazo.

El conjunto lo podemos generar con la función incorporada [`range()`](https://docs.python.org/3/library/functions.html#func-range). Se trata de una función capaz de generar una secuencia de números enteros. La estructura de esta función es:

```
range(inicio, fin, paso)
```

Según la documentación, `range()` genera una secuencia de números enteros a partir del valor del parámetro `inicio` hasta el valor del parámetro `fin`, de acuerdo con el valor del parámetro `paso`. Si `inicio` no es especificado, el valor por defecto es `0`. Si `paso` no es especificado, el valor por defecto es `1`.

Vamos a recrear el mismo contador `while` con el lazo `for`.

In [ ]:
for n in range(1,11):
  print(n)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for n in range(1, 21, 2):
   print(n)

1
3
5
7
9
11
13
15
17
19

In [ ]:
for n in range(30, 0, -1):
   print(n)

30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [ ]:
for e in range(1,4):
   nota_1 = float(input('Digite la primera nota: '))
   nota_2 = float(input('Digite la segunda nota: '))
   print(f'El promedio es: {(nota_1 + nota_2) / 2}')

Digite la primera nota: 5.5
Digite la segunda nota: 6.9
El promedio es: 6.2
Digite la primera nota: 8.9
Digite la segunda nota: 9
El promedio es: 8.95
Digite la primera nota: 8.8
Digite la segunda nota: 9.8
El promedio es: 9.3

In [ ]:
for i in range(1, 6):
    if i == 4:
        continue
    print(i)

1
2
3
5

# Practica 4

Entrenando la programación

1 - Escribe un programa que solicite dos números enteros e imprima todos los números enteros entre ellos.

In [ ]:
nummero_100 = int(input('Ingrese el primer numero: '))
nummero_200 = int(input('Ingrese el segundo numero: '))

for i in range(nummero_100, nummero_200):
  print(i)

Ingrese el primer numero: 1
Ingrese el segundo numero: 6
1
2
3
4
5

In [ ]:
# Recolectamos los valores de inicio y fin
inicio = int(input('Ingresa el primer número entero: '))
fin = int(input('Ingresa el segundo número entero: '))

# Verificamos si el valor de inicio es menor que el fin
if inicio < fin:
  # Podemos imprimir los enteros entre el valor menor y el valor mayor
  for i in range(inicio + 1, fin):
    print(i)
elif inicio > fin:
  for i in range(fin + 1, inicio):
    print(i)
else: # En caso de que los números sean iguales, no podemos imprimir ninguna secuencia.
  print('Los números son iguales.')

Ingresa el primer número entero: 1
Ingresa el segundo número entero: 6
2
3
4
5

2 - Escribe un programa para calcular cuántos días tomará que la colonia de una bacteria A supere o iguale a la colonia de una bacteria B, basado en tasas de crecimiento del 3% y 1.5%, respectivamente. Supón que la colonia A comienza con 4 elementos y B con 10.

In [ ]:
colonia_A = 4
colonia_B = 10
dias = 0

while colonia_A <= colonia_B:
  colonia_A *= 1.03
  colonia_B *= 1.015
  dias += 1

print(f'Tomará {dias} días para que la colonia A supere a la colonia B.')

Tomará 63 días para que la colonia A supere a la colonia B.

In [ ]:
# Número inicial de bacterias
colonia_a = 4
colonia_b = 10

# Tasas de crecimiento de las colonias
tasa_a = 0.03
tasa_b = 0.015

# Contador de días
días = 0

# La condición que termina el bucle es cuando
# la colonia A supera a la colonia B
while colonia_a <= colonia_b:
  # Usamos un operador de asignación con multiplicación
  colonia_a *= 1 + tasa_a
  colonia_b *= 1 + tasa_b
  # Contamos los días en cada iteración
  días += 1

# Resultado final
print(f'Necesitará {días} días para que la colonia A supere a la colonia B.')

Necesitará 63 días para que la colonia A supere a la colonia B.

3 - Para procesar una cantidad de 15 datos de evaluaciones de usuarios de un servicio de la empresa, necesitamos verificar si las calificaciones son válidas. Por lo tanto, escribe un programa que recibirá calificaciones del 0 al 5 y verificará si son valores válidos. Si se ingresa una calificación superior a 5 o inferior a 0, se repetirá hasta que el usuario ingrese un valor válido.

In [ ]:
evaluacion = int(input('Ingrese el dato: '))

while evaluacion > 5 or evaluacion < 0:
  print('Dato invalido')
  evaluacion = int(input('Ingrese el dato: '))

print('Dato Valido')

Ingrese el dato: -3
Dato invalido
Ingrese el dato: 4
Dato Valido

In [ ]:
# Bucle para recopilar las 15 notas
for i in range(15):
  nota = float(input(f'Ingresa la nota del usuario {i}: '))


  # Verifica si la nota está entre 0 y 5
  # Si no lo está, el bucle se repetirá hasta que se obtenga un valor válido
  while (nota < 0) or (nota > 5):
    nota = float(input(f'Nota no válida, ingresa nuevamente la nota del usuario {i}: '))

print('Verificación completa. Todas las notas son válidas.')

Ingresa la nota del usuario 0: 4
Ingresa la nota del usuario 1: 5
Ingresa la nota del usuario 2: 5
Ingresa la nota del usuario 3: 5
Ingresa la nota del usuario 4: 5
Ingresa la nota del usuario 5: 5
Ingresa la nota del usuario 6: 5
Ingresa la nota del usuario 7: 5
Ingresa la nota del usuario 8: 5
Ingresa la nota del usuario 9: 5
Ingresa la nota del usuario 10: 5
Ingresa la nota del usuario 11: 6
Nota no válida, ingresa nuevamente la nota del usuario 11: 5
Ingresa la nota del usuario 12: 5
Ingresa la nota del usuario 13: 5
Ingresa la nota del usuario 14: 5
Verificación completa. Todas las notas son válidas.

4 - Desarrolla un programa que lea un conjunto indefinido de temperaturas en grados Celsius y calcule su promedio. La lectura debe detenerse al ingresar el valor -273°C.

In [ ]:
temperatura = float(input('Ingrese la temperatura en grados Celsius: '))
temperatura_total = 0
contador = 0

while temperatura != -273:
  temperatura_total += temperatura
  contador += 1
  temperatura = float(input('Ingrese la temperatura en grados Celsius: '))

promedio = temperatura_total / contador

Ingrese la temperatura en grados Celsius: -70
Ingrese la temperatura en grados Celsius: 30
Ingrese la temperatura en grados Celsius: 80
Ingrese la temperatura en grados Celsius: -273

In [ ]:
# Recopilamos la temperatura
temperatura = float(input('Ingresa la temperatura en grados Celsius: '))

# Inicializamos un contador y una suma para calcular el promedio
contador = 0
suma = 0

# Nuestro código se ejecuta hasta que el valor de temperatura sea igual a -273
while temperatura != -273:
    # La suma se actualiza sumando la temperatura a la variable suma
    suma += temperatura
    # Contamos la cantidad de valores recopilados con el contador
    contador += 1
    # Recopilamos nuevamente la temperatura
    temperatura = float(input('Ingresa la temperatura en grados Celsius: '))

promedio = suma / contador

print(f'El promedio de las temperaturas es: {promedio}')

Ingresa la temperatura en grados Celsius: 5
Ingresa la temperatura en grados Celsius: -273
El promedio de las temperaturas es: 5.0

5 - Escribe un programa que calcule el factorial de un número entero proporcionado por el usuario. Recuerda que el factorial de un número entero es el producto de ese número por todos sus antecesores hasta llegar al número 1. Por ejemplo, el factorial de 5 es 5 x 4 x 3 x 2 x 1 = 120.

In [ ]:
variable = int(input('Ingrese un numero: '))


factorial = 1
for i in range(1, variable + 1):
  factorial *= i

print(f'El factorial de {variable} es: {factorial}')

Ingrese un numero: 5
El factorial de 5 es: 120

In [ ]:
# Solicita el número
num = int(input('Ingresa un número entero: '))

# Inicializa el cálculo
factorial = 1

# Nuestro contador comienza con el número máximo
# y se realizará un conteo decreciente con el operador -=
i = num
while i > 0:
    # Queremos multiplicar el valor factorial por el número
    # y todos los números por debajo de él hasta 1
    factorial *= i
    i -= 1

# Imprime el cálculo del factorial
print(f'El factorial de {num} es {factorial}')

Ingresa un número entero: 5
El factorial de 5 es 120

Momento de los proyectos

6 - Escribe un programa que genere la tabla de multiplicar de un número entero del 1 al 10, según la elección del usuario

In [ ]:
numerO = int(input('Ingrese un numero: '))

for i in range(1, 11):
  print(f'{numerO} x {i} = {numerO * i}')

Ingrese un numero: 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

7 - Los números primos tienen diversas aplicaciones en Ciencia de Datos, como en criptografía y seguridad. Un número primo es aquel que es divisible solo por sí mismo y por 1. Por lo tanto, crea un programa que solicite un número entero y determine si es un número primo o no.

In [ ]:
primo = int(input('Ingrese un numero: '))

for i in range(2, primo):
  if primo % i == 0:
    print(f'{primo} no es un numero primo')
    break
else:
  print(f'{primo} es un numero primo')

Ingrese un numero: 6
6 no es un numero primo

8 - Vamos a comprender la distribución de edades de los pensionistas de una empresa de seguros. Escribe un programa que lea las edades de una cantidad no informada de clientes y muestre la distribución en los intervalos [0-25], [26-50], [51-75] y [76-100]. La entrada de datos se detendrá al ingresar un número negativo.

In [ ]:
leer_cantidad = int(input('Ingrese la cantidad de personas: '))
edades = []

while leer_cantidad > 0:
  edad = int(input('Ingrese la edad: '))
  edades.append(edad)
  leer_cantidad -= 1

Ingrese la cantidad de personas: 4
Ingrese la edad: 56
Ingrese la edad: 25
Ingrese la edad: 30
Ingrese la edad: 67

In [ ]:
# Recopilamos las edades de los clientes
edad = int(input('Ingresa la edad (o un número negativo para finalizar): '))

# Inicializamos las variables de conteo
contador_0_25 = 0 # contador de edades entre 0 y 25
contador_26_50 = 0 # contador de edades entre 26 y 50
contador_51_75 = 0 # contador de edades entre 51 y 75
contador_76_100 = 0 # contador de edades entre 76 y 100

# Nuestro código se ejecuta hasta que el valor de edad sea negativo
while edad >= 0:
    # Contamos cada caso
    if edad >= 0 and edad <= 25:
        contador_0_25 += 1
    elif edad >= 26 and edad <= 50:
        contador_26_50 += 1
    elif edad >= 51 and edad <= 75:
        contador_51_75 += 1
    elif edad >= 76 and edad <= 100:
        contador_76_100 += 1

    # Repetimos el proceso de entrada de datos hasta que se ingrese un número negativo
    edad = int(input('Ingresa la edad (o un número negativo para finalizar): '))

# Mostramos los resultados
print('Distribución de edades:')
print('[0-25]:', contador_0_25)
print('[26-50]:', contador_26_50)
print('[51-75]:', contador_51_75)
print('[76-100]:', contador_76_100)

contador_0_25 = 0 # contador de edades entre 0 y 25
contador_26_50 = 0 # contador de edades entre 26 y 50
contador_51_75 = 0 # contador de edades entre 51 y 75
contador_76_100 = 0 # contador de edades entre 76 y 100

# Nuestro código se ejecuta hasta que el valor de edad sea negativo
while edad >= 0:
    # Contamos cada caso
    if edad >= 0 and edad <= 25:
        contador_0_25 += 1
    elif edad >= 26 and edad <= 50:
        contador_26_50 += 1
    elif edad >= 51 and edad <= 75:
        contador_51_75 += 1
    elif edad >= 76 and edad <= 100:
        contador_76_100 += 1

    # Repetimos el proceso de entrada de datos hasta que se ingrese un número negativo
    edad = int(input('Ingresa la edad (o un número negativo para finalizar): '))

# Mostramos los resultados
print('Distribución de edades:')
print('[0-25]:', contador_0_25)
print('[26-50]:', contador_26_50)
print('[51-75]:', contador_51_75)
print('[76-100]:', contador_76_100)

Ingresa la edad (o un número negativo para finalizar): -8
Distribución de edades:
[0-25]: 0
[26-50]: 0
[51-75]: 0
[76-100]: 0
Distribución de edades:
[0-25]: 0
[26-50]: 0
[51-75]: 0
[76-100]: 0

9 - En una elección para la gerencia de una empresa con 20 empleados, hay cuatro candidatos. Escribe un programa que calcule al ganador de la elección. La votación se realizó de la siguiente manera:

Cada empleado votó por uno de los cuatro candidatos (representados por los números 1, 2, 3 y 4).

También se contaron los votos nulos (representados por el número 5) y los votos en blanco (representados por el número 6).

Al final de la votación, el programa debe mostrar el número total de votos para cada candidato, los votos nulos y los votos en blanco. Además, debe calcular y mostrar el porcentaje de votos nulos con respecto al total de votos y el porcentaje de votos en blanco con respecto al total de votos.

In [ ]:
# Inicializamos las variables contadoras
votos_candidato1 = 0
votos_candidato2 = 0
votos_candidato3 = 0
votos_candidato4 = 0
votos_nulos = 0
votos_blanco = 0

# Inicio del bucle para leer los votos
for i in range(0, 20):
    voto = int(input('Ingresa tu voto: '))
    if voto == 1:
        votos_candidato1 += 1
    elif voto == 2:
        votos_candidato2 += 1
    elif voto == 3:
        votos_candidato3 += 1
    elif voto == 4:
        votos_candidato4 += 1
    elif voto == 5:
        votos_nulos += 1
    elif voto == 6:
        votos_blanco += 1
    else:
        print("Voto inválido.")

print(f'Votos candidato 1: {votos_candidato1}')
print(f'Votos candidato 2: {votos_candidato2}')
print(f'Votos candidato 3: {votos_candidato3}')
print(f'Votos candidato 4: {votos_candidato4}')
print(f'Votos nulos: {votos_nulos}')
print(f'Votos en blanco: {votos_blanco}')
print(f'Porcentaje de votos nulos: {(votos_nulos / 20 * 100)}')
print(f'Porcentaje de votos en blanco: {(votos_blanco / 20 * 100)}')

Ingresa tu voto: 1
Ingresa tu voto: 2
Ingresa tu voto: 1
Ingresa tu voto: 2
Ingresa tu voto: 1
Ingresa tu voto: 2
Ingresa tu voto: 1
Ingresa tu voto: 2
Ingresa tu voto: 1
Ingresa tu voto: 2
Ingresa tu voto: 3
Ingresa tu voto: 4
Ingresa tu voto: 5
Ingresa tu voto: 5
Ingresa tu voto: 5
Ingresa tu voto: 5
Ingresa tu voto: 5
Ingresa tu voto: 2
Ingresa tu voto: 2
Ingresa tu voto: 2
Votos candidato 1: 5
Votos candidato 2: 8
Votos candidato 3: 1
Votos candidato 4: 1
Votos nulos: 5
Votos en blanco: 0
Porcentaje de votos nulos: 25.0
Porcentaje de votos en blanco: 0.0

# Estructuras de datos

Un conjunto de elementos es una colección de items, que son almacenados juntos de manera organizada. Algunos ejemplos de conjuntos de elementos en Python son las listas, los strings y los diccionarios.

## Listas

Las listas pueden almacenar una colección de items en orden. Ellas son delimitadas por corchetes `[]` y sus elementos son separados por comas.

Estas pueden almacenar cualquier tipo de items, incluyendo números, strings, objetos, otras listas, entre otros. También nos permiten almacenar items de tipos de datos diferentes juntos en una única lista.

In [ ]:
lista = ['Penélope Camacho',9.5,9.0,9.7,True]
lista

['Penélope Camacho', 9.5, 9.0, 9.7, True]

In [ ]:
type(lista)

list

Las listas son organizadas en Python porque **cada elemento de la lista tiene un índice que indica su posición al interior de la lista**. Los índices comienzan en 0 van hasta el tamaño de la lista menos 1.

Tenemos entonces 5 elementos con índices que varían de 0 a 4, ordenadamente:

```
#             [0]           [1]   [2]   [3]    [4]
lista = ['Penélope Camacho', 9.5 , 9.0 , 9.7 , True]
```

En Python tenemos también los índices **negativos** que se inician en el último elemento con el valor de `-1` y avanzan en el universo de los negativos hasta llegar al 1° elemento:

```
#             [-5]         [-4]  [-3]  [-2]   [-1]
lista = ['Penélope Camacho', 9.5 , 9.0 , 9.7 , True]
```

Logramos seleccionar separadamente cada elemento a través de sus respectivos índices. Colocando el nombre de la lista y en seguida el índice que será seleccionado.

In [ ]:
type(lista[-1])

bool

Una forma más dinámica de trabajar item a item en una lista es utilizando un lazo `for` para leer un elemento a la vez.

In [ ]:
for elemento in lista:
  print(elemento)

Penélope Camacho
9.5
10.0
9.7
True

**Situación**: La nota `9.0` de Penélope necesita ser ajustada pues ganó 1 punto en su última nota por participación en clase. Entonces es necesario realizar un cambio en el índice `2` de `9.0` a `10.0`.

In [ ]:
lista[2] = 10.0

In [ ]:
lista

['Penélope Camacho', 9.5, 10.0, 9.7, True]

In [ ]:
promedio = (lista[1] + lista[2] + lista[3]) / 3
promedio

9.733333333333333

También podemos calcular el promedio del estudiante a partir de los datos que tenemos.

In [ ]:
listaa = ['Diego Bustos', 9.0, 7.8, 10.0, 6, True]
listaa

['Diego Bustos', 9.0, 7.8, 10.0, 6, True]

In [ ]:
promedios = (listaa[1] + listaa[2] + listaa[3]) / 3
promedios

8.933333333333334

## Manipulación de listas

Las listas son muy útiles en Python porque nos permiten almacenar y acceder a una colección de items de manera organizada y rápida. Estas también ofrecen muchos métodos útiles para manipular los itens almacenados, como adicionar, remover, clasificar y buscar elementos.

#### Cantidad de elementos

Usamos la función [`len()`](https://docs.python.org/3/library/functions.html#len) para descubrir la cantidad de elementos de un conjunto.

In [ ]:
len(listaa)

6

#### Partición

La partición de listas por indexación en Python es una técnica muy útil para seleccionar un subconjunto de elementos de una lista. Esta se realiza usando la sintaxis `lista[inicio:fin]`, donde `inicio` es el índice del primer elemento que será incluído en la partición `fin` es el índice del primer elemento que será excluído de la partición.

In [ ]:
listaa[0:3]

['Diego Bustos', 9.0, 7.8]

In [ ]:
listaa[:2]

['Diego Bustos', 9.0]

In [ ]:
listaa[3:]

[10.0, True]

#### [`append()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=of%20list%20objects%3A-,list.append(x),-Add%20an%20item)

Añade un elemento al final de la lista.

In [ ]:
listaa.append(promedio)

In [ ]:
listaa

['Diego Bustos', 9.0, 7.8, 10.0, 6, True, 9.733333333333333]

#### [`extend()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=list.extend(iterable))

Añade varios elementos al final de la lista.

Añadiremos las notas `[10.0,8.0,9.0]` En la lista de Penélope Camacho.

In [ ]:
listaa.extend([10.0,8.0,9.0])

In [ ]:
listaa

['Diego Bustos', 9.0, 7.8, 10.0, 6, True, 9.733333333333333, 10.0, 8.0, 9.0]

*A continuación te mostraremos lo que no puede realizarse con* `append`.

In [ ]:
listaa.append([10.0,8.0,9.0])

In [ ]:
listaa

['Diego Bustos',
 9.0,
 7.8,
 10.0,
 6,
 True,
 9.733333333333333,
 10.0,
 8.0,
 9.0,
 [10.0, 8.0, 9.0]]

#### [`remove()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=append(x).-,list.remove(x),-Remove%20the%20first)

Remueve un elemento específico de la lista.

In [ ]:
listaa.remove([10.0, 8.0, 9.0])

ValueError: list.remove(x): x not in list

In [ ]:
listaa

['Diego Bustos', 9.0, 7.8, 10.0, 6, True, 9.733333333333333, 10.0, 8.0, 9.0]

## Diccionario

Los diccionarios son un tipo de estructura de datos que almacenan pares de *llave-valor*. Estos son delimitados por llaves `{}` y los pares *llave-valor* son separados por comas.

```
diccionario = {llave: valor}
```

La **llave** es un elemento único que identifica a un valor en el diccionario, mientras que el **valor** es el item que será almacenado para la llave. Las llaves y sus respectivos valores se pueden emplear para **cualquier tipo de dato**.

Los diccionarios son útiles para almacenar y acceder a los datos de manera organizada y rápida. Se trata de un tipo de conjunto de elementos en Python, pues almacenan una colección de items.

In [ ]:
diccionario = {'Llave_1': 1,
               'Llave_2': 2}

diccionario

{'Llave_1': 1, 'Llave_2': 2}

In [ ]:
type(diccionario)

dict

---
**Situación:**

Vamos a crear un conjunto de datos con las informaciones de matrícula de un estudiante. Los datos son los siguientes:

- matrícula: 2000168933
- día de registro: 25
- mes de registro: 10
- grupo: 2E

In [ ]:
estudiante = {'matrícula': 2000168933,
              'día de registro': 25,
              'mes de registro': 10,
              'grupo': '2E'
              }

estudiante

{'matrícula': 2000168933,
 'día de registro': 25,
 'mes de registro': 10,
 'grupo': '2E'}

In [ ]:
estudiante['matrícula']

2000168933

In [ ]:
estudiante['grupo']

'2G'

Es posible sustituir los valores dentro de una llave. Por ejemplo, recibimos la información de que el grupo del estudiante que registramos cambio a `'2G'` y ahora necesitamos cambiar el valor de la llave `'grupo'`.

In [ ]:
estudiante['grupo'] = '2G'

estudiante

{'matrícula': 2000168933,
 'día de registro': 25,
 'mes de registro': 10,
 'modalidad': 'EAD',
 'grupo': '2G'}

También podemos añadir otros datos al diccionario. Vamos a añadir la información sobre la modalidad de estudio, nuestro estudiante estudiará inicialemente en la modalidad EAD.

Definiremos una llave llamada `'modalidad'` con el valor `'EAD'`.

In [ ]:
estudiante['modalidad'] = 'EAD'

In [ ]:
estudiante

{'matrícula': 2000168933,
 'día de registro': 25,
 'mes de registro': 10,
 'grupo': '2G',
 'modalidad': 'EAD'}

In [ ]:
len(estudiante)

5

## Profundizando en diccionarios

#### [`pop()`](https://python-reference.readthedocs.io/en/latest/docs/dict/pop.html)
Remueve un item de un diccionario y lo representa en la salida.

In [ ]:
estudiante.pop('grupo')

'2G'

In [ ]:
estudiante

{'matrícula': 2000168933,
 'día de registro': 25,
 'mes de registro': 10,
 'modalidad': 'EAD'}

#### [`items()`](https://python-reference.readthedocs.io/en/latest/docs/dict/items.html)
Retorna una lista de pares `llave-valor` del diccionario.

In [ ]:
estudiante.items()

dict_items([('matrícula', 2000168933), ('día de registro', 25), ('mes de registro', 10), ('modalidad', 'EAD')])

#### [`keys()`](https://python-reference.readthedocs.io/en/latest/docs/dict/keys.html)
Retorna una lista de las llaves del diccionario.

In [ ]:
estudiante.keys()

dict_keys(['matrícula', 'día de registro', 'mes de registro', 'modalidad'])

#### [`values()`](https://python-reference.readthedocs.io/en/latest/docs/dict/values.html)
Retorna una lista de los valores del diccionario.

In [ ]:
estudiante.values()

dict_values([2000168933, 25, 10, 'EAD'])

### Lectura de valores con el lazo `for`

In [ ]:
for Llave in estudiante.keys():
  print(Llave)

matrícula
día de registro
mes de registro
modalidad

In [ ]:
for Llave, valor in estudiante.items():
  print(Llave,'-->', valor)

matrícula --> 2000168933
día de registro --> 25
mes de registro --> 10
modalidad --> EAD

# Practica 5

Entrenando la programación

1 - Crea un programa que tenga la siguiente lista con los gastos de una empresa de papel [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]. Con estos valores, crea un programa que calcule el promedio de gastos. Sugerencia: usa las funciones integradas sum() y len().

In [ ]:
gastos = [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]
valores = len(gastos)
for i in range(valores):
  promedio = sum(gastos) / len(gastos)
print(f'El promedio de gastos es: {promedio}')

El promedio de gastos es: 3144.222

2 - Con los mismos datos de la pregunta anterior, determina cuántas compras se realizaron por encima de 3000 reales y calcula el porcentaje con respecto al total de compras.

In [ ]:
gastos = [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]
valores = len(gastos)
promedio = sum(gastos) / len(gastos)
contador = 0
for i in range(valores):
  if gastos[i] > 3000:
    contador += 1
porcentaje = (contador / valores) * 100

print(f'El promedio de gastos es: {promedio}')
print(f'El numero de compras por encima de 3000 reales es: {contador}')
print(f'El porcentaje de compras por encima de 3000 reales es: {porcentaje}')

El promedio de gastos es: 3144.222
El numero de compras por encima de 3000 reales es: 7
El porcentaje de compras por encima de 3000 reales es: 70.0

3 - Crea un código que recoja en una lista 5 números enteros aleatorios e imprima la lista. Ejemplo: [1, 4, 7, 2, 4].

In [ ]:
nuMero = []
for i in range(5):
  numero = int(input('Ingrese un numero: '))
  nuMero.append(numero)
print(nuMero)

Ingrese un numero: 5
Ingrese un numero: 6
Ingrese un numero: 7
Ingrese un numero: 8
Ingrese un numero: 9
[5, 6, 7, 8, 9]

4 - Recoge nuevamente 5 números enteros e imprime la lista en orden inverso al enviado.

In [ ]:
nuMero = []
for i in range(5):
  numero = int(input('Ingrese un numero: '))
  nuMero.append(numero)
  nuMero.reverse()
print(nuMero)

Ingrese un numero: 5
Ingrese un numero: 6
Ingrese un numero: 7
Ingrese un numero: 8
Ingrese un numero: 9
[9, 7, 5, 6, 8]

5 - Crea un programa que, al ingresar un número cualquiera, genere una lista que contenga todos los números primos entre 1 y el número ingresado.

In [ ]:
numero_cualquiera = int(input('Ingrese un numero: '))
primos = []
for i in range(1, numero_cualquiera + 1):
  for j in range(2, i):
    if i % j == 0:
      break
  else:
    primos.append(i)
print(primos)

Ingrese un numero: 6
[1, 2, 3, 5]

6 - Escribe un programa que pida una fecha, especificando el día, mes y año, y determine si es válida para su análisis.

In [ ]:
dia = int(input('Ingrese el dia: '))
mes = int(input('Ingrese el mes: '))
año = int(input('Ingrese el año: '))


for i in range(1, 13):
  if mes == i:
    pass # Placeholder, you likely want more logic here based on the month

if dia >= 1 and dia <= 31 and mes >= 1 and mes <= 12 and año >= 1 and año <= 9999:
  print('La fecha es valida')
else:
  print('La fecha no es valida')

Ingrese el dia: 0
Ingrese el mes: 2
Ingrese el año: 2025
La fecha no es valida

## Momento para los proyectos

7 - Para un estudio sobre la multiplicación de bacterias en una colonia, se recopiló el número de bacterias multiplicadas por día y se puede observar a continuación: [1.2, 2.1, 3.3, 5.0, 7.8, 11.3, 16.6, 25.1, 37.8, 56.9]. Con estos valores, crea un código que genere una lista que contenga el porcentaje de crecimiento de bacterias por día, comparando el número de bacterias en cada día con el número de bacterias del día anterior. Sugerencia: para calcular el porcentaje de crecimiento, utiliza la siguiente ecuación: 100 * (muestra_actual - muestra_anterior) / muestra_anterior.

In [5]:
colonia = [1.2, 2.1, 3.3, 5.0, 7.8, 11.3, 16.6, 25.1, 37.8, 56.9]

porcentaje_crecimiento = []

for i in range(len(colonia) - 1):
  porcentaje = 100 * (colonia[i + 1] - colonia[i]) / colonia[i]

  porcentaje_crecimiento.append(porcentaje)
print('Porcentaje de crecimiento diario: ')
print(porcentaje_crecimiento)

Porcentaje de crecimiento diario:
[75.00000000000001, 57.142857142857125, 51.51515151515153, 56.0, 44.87179487179489, 46.90265486725664, 51.20481927710843, 50.59760956175297, 50.52910052910054]

In [4]:
# Datos de la colonia de bacterias por día
datos = [1.2, 2.1, 3.3, 5.0, 7.8, 11.3, 16.6, 25.1, 37.8, 56.9]

# Lista para guardar los porcentajes de crecimiento
porcentajes_crecimiento = []

# Recorremos los datos desde el segundo día (índice 1)
for i in range(1, len(datos)):
    crecimiento = 100 * (datos[i] - datos[i - 1]) / datos[i - 1]
    porcentajes_crecimiento.append(crecimiento)

# Imprimir resultados
print("Porcentajes de crecimiento diario:")
print(porcentajes_crecimiento)

Porcentajes de crecimiento diario:
[75.00000000000001, 57.142857142857125, 51.51515151515153, 56.0, 44.87179487179489, 46.90265486725664, 51.20481927710843, 50.59760956175297, 50.52910052910054]

8 - Para una selección de productos alimenticios, debemos separar el conjunto de IDs proporcionados por números enteros, sabiendo que los productos con ID par son dulces y los que tienen ID impar son amargos. Crea un código que recoja 10 IDs. Luego, calcula y muestra la cantidad de productos dulces y amargos.

In [29]:
IDS = []
print('Ingrese 10 IDs: ')
for i in range(10):
  numero_ID = int(input(f"ID #{i+1}: "))
  IDS.append(numero_ID)


DULCES = 0
Amargos = 0

for i in IDS:
  if i % 2 == 0:
    DULCES += 1
  else:
    Amargos += 1
print(f'La cantidad de productos dulces son: {DULCES}')
print(f'La cantidad de productos amargos son: {Amargos}')

Ingrese 10 IDs:
ID #1: 1
ID #2: 2
ID #3: 3
ID #4: 4
ID #5: 5
ID #6: 6
ID #7: 7
ID #8: 8
ID #9: 9
ID #10: 9
La cantidad de productos dulces son: 4
La cantidad de productos amargos son: 6

In [21]:
# Lista para almacenar los IDs de los productos
ids = []

# Pedir 10 IDs al usuario
print("Introduce 10 IDs de productos (números enteros):")
for i in range(10):
    id_producto = int(input(f"ID #{i+1}: "))
    ids.append(id_producto)

# Inicializar contadores
dulces = 0
amargos = 0

# Clasificar productos según su ID
for id in ids:
    if id % 2 == 0:
        dulces += 1
    else:
        amargos += 1

# Mostrar resultados
print(f"\nCantidad de productos dulces (IDs pares): {dulces}")
print(f"Cantidad de productos amargos (IDs impares): {amargos}")

Introduce 10 IDs de productos (números enteros):
ID #1: 1
ID #2: 2
ID #3: 3
ID #4: 4
ID #5: 5
ID #6: 6
ID #7: 7
ID #8: 8
ID #9: 9
ID #10: 10

Cantidad de productos dulces (IDs pares): 5
Cantidad de productos amargos (IDs impares): 5

9 - Desarrolla un programa que informe la puntuación de un estudiante de acuerdo con sus respuestas. Debe pedir la respuesta del estudiante para cada pregunta y verificar si la respuesta coincide con el resultado. Cada pregunta vale un punto y hay opciones A, B, C o D.


Resultado del examen:
1 - D

2 - A

3 - C

4 - B

5 - A

6 - D

7 - C

8 - C

9 - A

10 - B

In [46]:
resultado_de_examen = {1: 'D', 2: 'A', 3: 'C', 4: 'B', 5: 'A', 6: 'D', 7: 'C', 8: 'C', 9: 'A', 10: 'B'}
resultado_de_examen

{1: 'D',
 2: 'A',
 3: 'C',
 4: 'B',
 5: 'A',
 6: 'D',
 7: 'C',
 8: 'C',
 9: 'A',
 10: 'B'}

In [53]:
respuestas = str(input('Ingrese la letra: '))
if respuestas == resultado_de_examen:
  print('Aprobado')
else:
  print('Reprobado')

Ingrese la letra: D
Reprobado

10 - Un instituto de meteorología desea realizar un estudio de la temperatura media de cada mes del año. Para ello, debes crear un código que recoja y almacene esas temperaturas medias en una lista. Luego, calcula el promedio anual de las temperaturas y muestra todas las temperaturas por encima del promedio anual y en qué mes ocurrieron, mostrando los meses por su nombre (Enero, Febrero, etc.).

11 - Una empresa de comercio electrónico está interesada en analizar las ventas de sus productos. Los datos de ventas se han almacenado en un diccionario:

{'Producto A': 300, 'Producto B': 80, 'Producto C': 60, 'Producto D': 200, 'Producto E': 250, 'Producto F': 30}

Escribe un código que calcule el total de ventas y el producto más vendido.

In [38]:
ventas_de_productos = {'Producto A': 300,
                       'Producto B': 80,
                       'Producto C': 60,
                       'Producto D': 200,
                       'Producto E': 250,
                       'Producto F': 30}
ventas_de_productos

{'Producto A': 300,
 'Producto B': 80,
 'Producto C': 60,
 'Producto D': 200,
 'Producto E': 250,
 'Producto F': 30}

In [39]:
total_ventas = sum(ventas_de_productos.values())
total_ventas

920

In [40]:
producto_más_vendido = max(ventas_de_productos, key=ventas_de_productos.get)
producto_más_vendido

'Producto A'

12 - Se realizó una encuesta de mercado para decidir cuál diseño de marca infantil es más atractivo para los niños. Los votos de la encuesta se pueden ver a continuación:

Tabla de votos de la marca

Diseño 1 - 1334 votos

Diseño 2 - 982 votos

Diseño 3 - 1751 votos

Diseño 4 - 210 votos

Diseño 5 - 1811 votos

Adapta los datos proporcionados a una estructura de diccionario. A partir de ello, informa el diseño ganador y el porcentaje de votos recibidos.

In [41]:
diseño_de_marca_infantil = {'Diseño 1': 1334,
                             'Diseño 2': 982,
                             'Diseño 3': 1751,
                             'Diseño 4': 210,
                             'Diseño 5': 181}
diseño_de_marca_infantil

{'Diseño 1': 1334,
 'Diseño 2': 982,
 'Diseño 3': 1751,
 'Diseño 4': 210,
 'Diseño 5': 181}

In [42]:
ganador_de_votos = max(diseño_de_marca_infantil, key=diseño_de_marca_infantil.get)
ganador_de_votos

'Diseño 3'

In [43]:
porcentaje_votos = (diseño_de_marca_infantil[ganador_de_votos] / sum(diseño_de_marca_infantil.values())) * 100
porcentaje_votos

39.27770300583221

13 - Los empleados de un departamento de tu empresa recibirán una bonificación del 10% de su salario debido a un excelente rendimiento del equipo. El departamento de finanzas ha solicitado tu ayuda para verificar las consecuencias financieras de esta bonificación en los recursos. Se te ha enviado una lista con los salarios que recibirán la bonificación: [1172, 1644, 2617, 5130, 5532, 6341, 6650, 7238, 7685, 7782, 7903]. La bonificación de cada empleado no puede ser inferior a 200. En el código, convierte cada uno de los salarios en claves de un diccionario y la bonificación de cada salario en el valor correspondiente. Luego, informa el gasto total en bonificaciones, cuántos empleados recibieron la bonificación mínima y cuál fue el valor más alto de la bonificación proporcionada.

In [54]:
# Lista de salarios
salarios = [1172, 1644, 2617, 5130, 5532, 6341, 6650, 7238, 7685, 7782, 7903]

# Crear diccionario de bonificaciones
bonificaciones = {}
for salario in salarios:
    bonificacion = max(salario * 0.10, 200)  # Garantiza que sea al menos 200
    bonificaciones[salario] = bonificacion

# Calcular total de bonificaciones
total_bonificaciones = sum(bonificaciones.values())

# Contar cuántos empleados recibieron la bonificación mínima
bonificacion_minima = 200
empleados_minimos = list(bonificaciones.values()).count(bonificacion_minima)

# Encontrar la mayor bonificación
mayor_bonificacion = max(bonificaciones.values())

# Mostrar resultados
print("Diccionario de bonificaciones:")
for salario, bonificacion in bonificaciones.items():
    print(f"Salario: {salario}, Bonificación: {bonificacion:.2f}")

print(f"\nGasto total en bonificaciones: {total_bonificaciones:.2f}")
print(f"Empleados que recibieron la bonificación mínima ({bonificacion_minima}): {empleados_minimos}")
print(f"Mayor bonificación otorgada: {mayor_bonificacion:.2f}")

Diccionario de bonificaciones:
Salario: 1172, Bonificación: 200.00
Salario: 1644, Bonificación: 200.00
Salario: 2617, Bonificación: 261.70
Salario: 5130, Bonificación: 513.00
Salario: 5532, Bonificación: 553.20
Salario: 6341, Bonificación: 634.10
Salario: 6650, Bonificación: 665.00
Salario: 7238, Bonificación: 723.80
Salario: 7685, Bonificación: 768.50
Salario: 7782, Bonificación: 778.20
Salario: 7903, Bonificación: 790.30

Gasto total en bonificaciones: 6087.80
Empleados que recibieron la bonificación mínima (200): 2
Mayor bonificación otorgada: 790.30

14 - Un equipo de científicos de datos está estudiando la diversidad biológica en un bosque. El equipo recopiló información sobre el número de especies de plantas y animales en cada área del bosque y almacenó estos datos en un diccionario. En él, la clave describe el área de los datos y los valores en las listas corresponden a las especies de plantas y animales en esas áreas, respectivamente.

{'Área Norte': [2819, 7236], 'Área Leste': [1440, 9492], 'Área Sul': [5969, 7496], 'Área Oeste': [14446, 49688], 'Área Centro': [22558, 45148]}


Escribe un código para calcular el promedio de especies por área e identificar el área con la mayor diversidad biológica. Sugerencia: utiliza las funciones incorporadas sum() y len().

In [35]:
plantas_animales = {'Área Norte': [2819, 7236],
                    'Área Leste': [1440, 9492],
                    'Área Sul': [5969, 7496],
                    'Área Oeste': [14446, 49688],
                    'Área Centro': [22558, 45148]}
plantas_animales

{'Área Norte': [2819, 7236],
 'Área Leste': [1440, 9492],
 'Área Sul': [5969, 7496],
 'Área Oeste': [14446, 49688],
 'Área Centro': [22558, 45148]}

In [36]:
promedio_de_especies = {}
for area, especies in plantas_animales.items():
  promedio = sum(especies) / len(especies)
  promedio_de_especies[area] = promedio
promedio_de_especies

{'Área Norte': 5027.5,
 'Área Leste': 5466.0,
 'Área Sul': 6732.5,
 'Área Oeste': 32067.0,
 'Área Centro': 33853.0}

In [37]:
mayor_diversidad = max(promedio_de_especies, key=promedio_de_especies.get)
mayor_diversidad

'Área Centro'

15 - El departamento de Recursos Humanos de tu empresa te pidió ayuda para analizar las edades de los colaboradores de 4 sectores de la empresa. Para ello, te proporcionaron los siguientes datos:

{'Setor A': [22, 26, 30, 30, 35, 38, 40, 56, 57, 65],

 'Setor B': [22, 24, 26, 33, 41, 49, 50, 54, 60, 64],

 'Setor C': [23, 26, 26, 29, 34, 35, 36, 41, 52, 56],

 'Setor D': [19, 20, 25, 27, 34, 39, 42, 44, 50, 65]}

 Dado que cada sector tiene 10 colaboradores, construye un código que calcule la media de edad de cada sector, la edad media general entre todos los sectores y cuántas personas están por encima de la edad media general.

In [31]:
edades_por_sector = {'Setor A': [22, 26, 30, 30, 35, 38, 40, 56, 57, 65],

                     'Setor B': [22, 24, 26, 33, 41, 49, 50, 54, 60, 64],

                     'Setor C': [23, 26, 26, 29, 34, 35, 36, 41, 52, 56],

                     'Setor D': [19, 20, 25, 27, 34, 39, 42, 44, 50, 65]}
edades_por_sector

{'Setor A': [22, 26, 30, 30, 35, 38, 40, 56, 57, 65],
 'Setor B': [22, 24, 26, 33, 41, 49, 50, 54, 60, 64],
 'Setor C': [23, 26, 26, 29, 34, 35, 36, 41, 52, 56],
 'Setor D': [19, 20, 25, 27, 34, 39, 42, 44, 50, 65]}

In [32]:
media  = {}
for sector, edades in edades_por_sector.items():
  media[sector] = sum(edades) / len(edades)
media

{'Setor A': 39.9, 'Setor B': 42.3, 'Setor C': 35.8, 'Setor D': 36.5}

In [33]:
media_general = sum(sum(edades) for edades in edades_por_sector.values()) / sum(len(edades) for edades in edades_por_sector.values())
media_general

38.625

In [34]:
encima_media_general = 0
for edades in edades_por_sector.values():
  for edad in edades:
    if edad > media_general:
      encima_media_general += 1
encima_media_general

18