<a href="https://colab.research.google.com/github/diego2003-her14/amigo-secreto/blob/main/Python_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python para Data Science

Notebook para el curso de Python para Data Science publicado en la plataforma de [Alura Latam](https://www.aluracursos.com/)

# Introducción a Python
¡Vamos a conocer Python, nuestro ambiente de estudio, y también generaremos nuestro primer código en este lenguaje!

## Google Colaboratory

Ya aprendimos qué es [Python](https://www.python.org/) y ahora aprenderemos a usar nuestra herramienta de ejecución [Google Colaboratory](https://colab.research.google.com/) para programar en un notebook interactivo.

Vamos a probar algunas funciones de este ambiente.

 **`>>> Usa esta celda para mover <<<`**

## ¡Hola mundo!

Vamos a conocer un poco más de cerca nuestro notebook. Para ello ejecutaremos nuestro primer comando en Python: [`print()`](https://docs.python.org/3/library/functions.html#print)

# Manipulando los datos

Vamos a aprender sobre las variables en Python, cómo declararlas y utilizarlas además de conocer otros comandos de este lenguaje. :D

## Variables

En Data Science trabajamos con varios tipos de datos e informaciones, entonces es esencial saber cómo trabajar con las variables.

Las variables en Python se crean cuando atribuimos un valor a ella.

Para esto, colocamos el nombre de la variable, el signo de igual (`=`) y el valor que queremos atribuirle.

Existen algunos tipos de nomes que **no** podemos definir para las variables:

- **Nombres que comiencen con números**
  - Ejemplos: `10_notas`, `2_nombre_casa`, etc.
- **Palabras separadas por espacio**
  - Ejemplos: `Nombre escuela`, `notas estudiantes`, etc.
- **Nombres de funciones de Python**
  - Ejemplos: `print`, `type`, etc.

> Las letras mayúsculas y minúsculas generarán diferentes variables. La variable `edad` es diferente de `Edad` que a su vez es diferente de `EDAD`:
``` Python
edad = 1
Edad = 2
EDAD = 3
_edad = 4
_edad_ = 5
print(edad, Edad, EDAD, _edad, _edad_)
1 2 3 4 5
```

## Tipos de variables

Cada variable contiene una clase específica con respecto al tipo de objeto al cual esta hace referencia. Estas clases serán diferentes de acuerdo con el tipo de dato que le sea atribuido a una variable.

Para conocer la clase de cada elemento usamos la función [`type()`](https://docs.python.org/3/library/functions.html#type)

En un conjunto de datos escolares podemos tener varios tipos de informaciones. Supongamos que tenemos acceso a la ficha de datos del alumno *Penélope Camacho*, cómo transformamos este nombre en variables de Python?

#### Ficha:

- Nombre: Penélope Camacho
- Edad: 11 años
- Promedio del semestre: 9,75
- Situación de aprobación: Verdadera (aprobado)

## Variables numéricas

Entre los tipos de datos numéricos vamos a enfocarnos en los tipos `entero` y `float`.

Tenemos una tabla de información sobre los diversos cargos, cantidad de personas empleadas y el salario correspondiente:

|Cargo | Cantidad | Salario|
|---|---|---|
|Vigilante | 5 | 300 |
|Docente | 16| 500|
|Coordinador| 2 |600|

Necesitamos trabajar con estos datos para obtener:

- La cantidad total de empleados;
- La diferencia entre el salario más bajo y más alto; y
- El promedio ponderado de los salarios de los empleados de la escuela.

## Strings

Strings hace referencia a un conjunto de caracteres formando un texto.

Podemos crear Strings cuando atribuimos un dato a una variable entre comillas sencillas (`'`) o comillas dobles (`"`).

Las variables textuales son objetos que poseen métodos que nos ayudan a formatear strings. Los métodos los podemos ejecutar al definir un objeto de acuerdo con la siguiente estructura:

```
objeto.metodo()
```

Existen métodos que no necesitan los `()`, siempre es una buena práctica verificar la documentación para cada caso.

---
**Situación:**

Recibimos una variable con el nombre de una profesora de la escuela para añadirla a los registros. Sin embargo, necesitamos darle un tratamiento a este texto antes de insertarlo al sistema.

In [ ]:
texto = '  Micaela de los Sanyos '

El objetivo final es que el nombre aparezca de la siguiente forma:

```
'MICAELA DE LOS SANTOS'
```

### [`str.upper()` ](https://docs.python.org/3/library/stdtypes.html#str.upper)
Convierte una string a mayúsculas.

In [ ]:
texto.upper()

'  MICAELA DE LOS SANYOS '

### [`str.lower()`](https://docs.python.org/3/library/stdtypes.html#str.lower)
Convierte una string a minúsculas.

### [`str.strip()`](https://docs.python.org/3/library/stdtypes.html#str.strip)
Elimina los espacios en blanco al inicio y al final de una string.

### [`str.replace(antiguo, nuevo)`](https://docs.python.org/3/library/stdtypes.html#str.replace)

Sustituye todas las ocurrencias del texto "antiguo" en la string por el  "nuevo".

### Observaciones

1. Los métodos devuelven una **tranformación**, no son ejecutados directamente sobre la variable donde está almacenado el texto.

2. Adicionalmente, podemos acumular la ejecución de los métodos.

Para que la transformación se pueda ejecutar debemos atribuir la salida de las transformaciones a las variables

## Capturando datos

En algunas aplicaciones necesitamos capturar los valores del usuario de nuestro proyecto. En python, logramos capturar los datos del usuario a través del comando [`input()`](https://docs.python.org/3/library/functions.html#input).

Para ejecutar la captura debemos atribuir el resultado de esta función a una variable.

In [ ]:
nombre = input('¿Cual es tu nombre?')

¿Cual es tu nombre?Diego

In [ ]:
type(nombre)

str

La salida de este comando siempre será una *string*. Esto quiere decir que aunque capturemos un valor de variable numérica, este será de tipo string.

Entonces, será necesario **convertir el resultado cuando no se desea utilizar el valor como tipo string**.

Existen funciones para la conversión de valores:

- Enteros: [`int(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#int)
- Coma flotante: [`float(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#float)
- String: [`str(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#func-str)
- Booleano: [`bool(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#bool)

In [ ]:
año_admision = int(input('Digite el año de admision: '));

Digite el año de admision: 2023

In [ ]:
type(año_admision);

int

In [ ]:
nota_admision = float(input('Digite la nota de admision: '));

Digite la nota de admision: 9.5

In [ ]:
type(nota_admision)

float

Trataremos de representar mejor ahora el resultado de la transformación que obtuvimos. Nosotros podemos formatear y presentar nuestro resultado mezclando strings con valores no textuales.

Para ello utilizamos la estructura de formatación `f` con strings.

In [ ]:
print(f'\tEl año de admision fue: {año_admision} \n\tLa nota de admision fue: {nota_admision}')

	El año de admision fue: 2023
	La nota de admision fue: 9.5

In [ ]:
nombre = 'Ana Maria'
edad = 17

In [ ]:
nombre= input('Digite su nombre: ');
edad = int(input('Digite su edad: '));
altura = input('Digite su altura en metros')
print(f'Hola {nombre} tienes {edad} años Y mides {altura}')

Digite su nombre: Diego
Digite su edad: 21
Digite su altura en metros1.75
Hola Diego tienes 21 años Y mides 1.75

In [ ]:
a = int(input('Ingrese el primer numero: '))
b = int(input('Ingrese el segundo numero: '))
print(f'La suma de {a} y {b} es {a+b}')

Ingrese el primer numero: 5
Ingrese el segundo numero: 6
La suma de 5 y 6 es 11

In [ ]:
a = int(input('Ingrese el segundo numero: '))
b = int(input('Ingrese el segundo numero: '))
print(a + b)

Ingrese el primer numero: 20
Ingrese el segundo numero: 25
45

In [ ]:
a = int(input('Ingrese el segundo numero: '))
b = int(input('Ingrese el segundo numero: '))
c = int(input('Ingrese el segundo numero: '))
print(a + b + c)

Ingrese el segundo numero: 5
Ingrese el segundo numero: 5
Ingrese el segundo numero: 5
15

In [ ]:
a = int(input('Ingrese el segundo numero: '))
b = int(input('Ingrese el segundo numero: '))
print(a - b)

Ingrese el segundo numero: 5
Ingrese el segundo numero: 7
-2

In [ ]:
a = int(input('Ingrese el segundo numero: '))
b = int(input('Ingrese el segundo numero: '))
print(a * b)

Ingrese el segundo numero: 5
Ingrese el segundo numero: 5
25

In [ ]:
a = int(input('Ingrese el segundo numero: '))
b = int(input('Ingrese el segundo numero: '))
print(a / b)

Ingrese el segundo numero: 25
Ingrese el segundo numero: 5
5.0

In [ ]:
numerador = int(input('Ingrese el numerador: '))
denominador = int(input('Ingrese el denominador: '))
print(numerador / denominador)

Ingrese el numerador: 25
Ingrese el denominador: 5
5.0

In [ ]:
numerador = int(input('Ingrese el numerador: '))
denominador = int(input('Ingrese el denominador (OBS: El denominador no puede ser 0): '))
print(numerador / denominador)

Ingrese el numerador: 25
Ingrese el denominador (OBS: El denominador no puede ser 0): 5
5.0

In [ ]:
base = 3
potencia = 3
print(base ** potencia)

27

In [ ]:
operador = int(input('Ingrese el valor del operador: '))
potencia = int(input('Ingrese el valor de la potencia: '))
print(operador ** potencia)

Ingrese el valor del operador: 6
Ingrese el valor de la potencia: 2
36

In [ ]:
numerador = int(input('Ingrese el numerador: '))
denominador = int(input('Ingrese el denominador (OBS: El valor no puede ser nulo): '))
print(numerador // denominador)

Ingrese el numerador: 25
Ingrese el denominador (OBS: El valor no puede ser nulo): 5
5

In [ ]:
numerador = int(input('Ingrese el numerador: '))
denominador = int(input('Ingrese el denominador (OBS: El valor no puede ser nulo): '))
print(numerador % denominador)

Ingrese el numerador: 36
Ingrese el denominador (OBS: El valor no puede ser nulo): 6
0

In [ ]:
a_nota = float(input('Ingrese la nota del alumno: '))
b_nota = float(input('Ingrese la nota del alumno: '))
c_nota = float(input('Ingrese la nota del alumno: '))
print(f'Media de las notas es: {a_nota + b_nota + c_nota / 3}')

Ingrese la nota del alumno: 8.75
Ingrese la nota del alumno: 8.5
Ingrese la nota del alumno: 3.5
Media de las notas es: 18.416666666666668

In [ ]:
media_ponderada = (5*1 + 6*2 + 7*3) / (1 + 2 +3)
print(media_ponderada)

6.333333333333333

In [ ]:
frace = ('Que tal \'Las tetas son como el agua no saben a nada, pero son ricas\'')
print(frace)

Que tal 'Las tetas son como el agua no saben a nada, pero son ricas'

In [ ]:
frace = '¡Hola Python!'
print(frace)

¡Hola Python!

In [ ]:
hola = input('perro: ')
print(hola)

perro: guau
guau

In [ ]:
frace = input('Ingrese una frace:')
print(frace)

Ingrese una frace:Father
Father

In [ ]:
frace = input('Ingrese una frace:')
print(frace.upper())

Ingrese una frace:Te amo
TE AMO

In [ ]:
frace = input('Ingrese una frace:')
print(frace.lower())

Ingrese una frace:HOLA MUNDO
hola mundo

In [ ]:
frace = ' ¡Hola Python!   '
print(frace.strip())

¡Hola Python!

In [ ]:
frace = input('Ingrese una frace:')
print(frace.strip())

Ingrese una frace:la casa es linda
la casa es linda

In [ ]:
frace = input('Ingrese una frace:')
print(frace.strip().lower())

Ingrese una frace:HOLA MUNDO
hola mundo

In [ ]:
frace = input('Ingrese una frace:')
print(frace.lower().replace('a' , 'e'))

Ingrese una frace:Te amo mama
te emo meme

In [ ]:
frace = input('Ingrese una frace:')
print(frace.lower().replace('a' , chr(64)))

Ingrese una frace:PALABRAS, PAJARA, CASA
p@l@br@s, p@j@r@, c@s@

In [ ]:
frace = input('Ingrese una frace:')
print(frace.lower().replace('s' , chr(36)))

Ingrese una frace:SAPOS, SOPAS, SODAS
$apo$, $opa$, $oda$

# Estructuras condicionales

In [ ]:
# Nota de aprobacion entre 7 y 10 == nota de aprovacion => 7
# Nota de reprobacion  es menor a 7 == nota de reprobacion < 7


"""
Si la nota del estudiante es mayor a 7 el estudiante aprueba
Si no, el estudiante reprueba
"""

'\nSi la nota del estudiante es mayor a 7 el estudiante aprueba \nSi no, el estudiante reprueba\n'

## `IF` y `ELSE`

Los comandos `if` y `else` son dos estructuras condicionales. El comando `if` ejecutará el bloque de comandos en caso de que la condición citada sea  **verdadera**. El comando `else` ejecutará el bloque de comandos en el caso de que la condicional de `if` sea **falsa**.

El comando `if` es una palabra clave en Python que significa "si". Este se emplea para conformar la estructura condicional, que te permite verificar si una determinada condición es verdadera o falsa e, inmediatamente después, ejecute un bloque de código específico dependiendo del resultado de la verificación. La sintaxis para usar el comando `if` es:



```
if condicion:
    # Realiza algo
```

In [ ]:
if 2 < 8:
  print('La condicion es verdadera')

La condicion es verdadera

In [ ]:
if 2 > 8:
  print('La condicion es verdadera')
print('Fin de la consulta')

Fin de la consulta

Ya el comando `else` en Python se usa en junción con la palabra clave `if` para formar una estructura condicional. la sintaxis para usar el `else` es:

```
if condicion:
  # codigo en caso de que sea verdad
else:
  # codigo en caso de que sea falso
```

el comando `else` se ejecuta cuando la condición verificada por el `if` es evaluada como `False`.

In [ ]:
if 2 > 8:
  print('La condicion es verdadera')
else:
  print('La condicion es falsa')
print('Fin de la consulta')

La condicion es falsa
Fin de la consulta

In [ ]:
edad_maria = int(input('Ingrese la edad de María: '))
edad_beatriz = int(input('Ingrese la edad de Beatriz: '))

if edad_maria > edad_beatriz:
  print('María es mayor que Beatriz.')

Ingrese la edad de María: 29
Ingrese la edad de Beatriz: 17
María es mayor que Beatriz.

In [ ]:
edad_maria = int(input('Ingrese la edad de María: '))
edad_beatriz = int(input('Ingrese la edad de Beatriz: '))

if edad_maria < edad_beatriz:
  print('María es menor que Beatriz.')

Ingrese la edad de María: 16
Ingrese la edad de Beatriz: 21
María es menor que Beatriz.

In [ ]:
empleados_empresa_1 = int(input('Ingrese la cantidad de empleados de la empresa 1: '))
empleados_empresa_2 = int(input('Ingrese la cantidad de empleados de la empresa 2: '))

if empleados_empresa_1 >= empleados_empresa_2:
  print('La empresa 1 tiene una cantidad de empleados mayor o igual a la empresa 2.')

Ingrese la cantidad de empleados de la empresa 1: 50
Ingrese la cantidad de empleados de la empresa 2: 25
La empresa 1 tiene una cantidad de empleados mayor o igual a la empresa 2.

In [ ]:
empleados_empresa_1 = int(input('Ingrese la cantidad de empleados de la empresa 1: '))
empleados_empresa_2 = int(input('Ingrese la cantidad de empleados de la empresa 2: '))

if empleados_empresa_1 <= empleados_empresa_2:
  print('La empresa 1 tiene una cantidad de empleados menor o igual a la empresa 2.')

Ingrese la cantidad de empleados de la empresa 1: 25
Ingrese la cantidad de empleados de la empresa 2: 29
La empresa 1 tiene una cantidad de empleados menor o igual a la empresa 2.

In [ ]:
libro_1 = input('Ingrese el título del 1° libro: ')
libro_2 = input('Ingrese el título del 2° libro: ')

if libro_1 == libro_2:
  print('Los libros tienen el mismo título.')

Ingrese el título del 1° libro: Aleph
Ingrese el título del 2° libro: Aleph
Los libros tienen el mismo título.

In [ ]:
libro_1 = input('Ingrese el título del 1° libro: ')
libro_2 = input('Ingrese el título del 2° libro: ')

if libro_1 != libro_2:
  print('Los libros tienen títulos diferentes.')

Ingrese el título del 1° libro: Cien años de soledad
Ingrese el título del 2° libro: El lobo estepario
Los libros tienen títulos diferentes.

---
**Situación:**

Recibiremos el promedio de la nota de los estudiantes y necesitamos de un algoritmo que ejecute el análisis y determine si el estudiante fue **Aprobado** o **Reprobado**, mostrando un mensaje del resultado. Para ser aprobado, el promedio necesita ser igual o superior a 7.0.

In [ ]:
nota = float(input('Digite nota: '))

if nota >= 7.0:
  print('El estudiante fue aprobado.')
else:
  print('El estudiante fue reprobado.')

Digite nota: 6.7
El estudiante fue reprobado.

Ahora, nuestra institución educativa estableció que las personas que tengan el promedio entre 5.0 y 7.0 pueden participar del curso de **Recuperación** durante las vacaciones para lograr aprobar.

Entonces podemos apoyarnos en un conjunto de `if`s para poder estructurar esta nueva condición.

In [ ]:
nota = float(input('Digite nota: '))

if nota >= 7.0:
  print('El estudiante fue aprobado.')
else:
  if nota >= 5.0:
    print('El estudiante puede recuperar.')
  else:
    print('El estudiante fue reprobado.')

Digite nota: 4.0
El estudiante fue reprobado.

In [ ]:
nota = float(input('Digite nota:'))

if nota >= 7.0:
  print('El estudiante fue aprobado.')
elif nota >= 5.0:
  print('El estudiante puede recuperar.')
else:
  print('El estudiante fue reprobado.')

Digite nota:8.0
El estudiante fue aprobado.

In [ ]:
nota = float(input('Digite nota:'))

if nota >= 7.0:
  print('Aprobado')
if 7.0 > nota >= 5.0:
  print('Recuperacion')
if nota < 5.0:
  print('Reprobado')

Digite nota:8.0
Aprobado

Observa que en casos con 3 situaciones como este necesitamos definir bien nuestras condiciones. Pues, si realizamos una condición con `else` al final, este irá a considerar solamente la condición `if` inmediatamente anterior para generar la salida en caso de que el resultado de su operación lógica sea **falso** dando como resultado, dos o más ejecuciones.

Por ejemplo:

In [ ]:
nota = float(input('Digite nota:'))

if nota >= 7.0:
  print('Aprobado')
if 7.0 > nota >= 5.0:
  print('Recuperacion')
else :
  print('Reprobado')

Digite nota:4.9
Reprobado

## `ELIF`

El comando `elif` es una palabra clave en Python que significa "si no, si" y lo podemos considerar una *contracción* entre `else` e `if`. Se utiliza en conjunto con la palabra clave `if` para formar una estructura condicional en cadena.

la sintaxis para utilizar el comando `elif` es:

```
if condicion1:
    # Realiza algo
elif condicion2:
    # Realiza otra cosa
elif condicion3:
    # Realiza otra cosa
else:
    # Realiza algo diferente
```

El comando `elif` permite que puedas verificar varias condiciones en cadena, economizando espacio en tu código. Si la primera condición se evalúa como `False`, el interpretador de Python evaluará la próxima condición con el `elif`. Ello continuará hasta que una condición sea evaluada como `True` o hasta que el `else` sea alcazado. Si ninguna de las condiciones es evaluada como `True`, la ejecución del código del comando `else` será iniciada.

Vamos a emplear el mismo caso anterior:

In [ ]:
nota = float(input('Digite nota:'))

if nota >= 7.0:
  print('Aprobado')
elif 7.0 > nota >= 5.0:
  print('Recuperacion')
else:
  print('Reprobado')

Digite nota:5.0
Recuperacion

## Operadores

Durante la construcción de comandos a veces necesitamos de una elaboración mayor de la expresión condicional, necesitando que algunos operadores lógicos se encuentren integrados.

### `AND`, `OR`, `NOT`

Los operadores lógicos `and`, `or` y `not` son usados para combinar expresiones lógicas en Python. Ellos son usados frecuentemente en conjunto con el comando `if` para crear estructuras condicionales más complejas.

- `AND` es usado para verificar si dos condiciones son verdaderas. La expresión lógica¹ `x and y` se evalúa como `True` tan solo si **ambas condiciones `x` y `y` son verdaderas**, y como `False` en caso contrario.

- `OR` es usado para verificar si al menos una de las condiciones es verdadera. La expresión lógica `x or y` se evalúa como `True` **si al menos una de las condiciones `x` o `y` es verdadera**, y como `False` si ambas condiciones son falsas.

- `NOT` es usado para **negar una condición**. La expresión lógica `not x` es evaluada como `True` si la condición x es falsa, y como `False` si la condición x es verdadera.

¹ Una expresión lógica es una declaración que puede ser evaluada como verdadera o falsa. Ella se compone por operandos lógicos² y por operadores lógicos³, que son usados ​​para combinar varias expresiones lógicas en una única expresión.

² Los operandos lógicos son los elementos que son comparados o evaluados en una expresión lógica. Ellos son generalmente valores verdaderos o falsos, pero también pueden ser expresiones lógicas más complejas. En Python, los operandos lógicos son los valores `True` y `False`.

³ Los operadores lógicos son ls símbolos o palabras clave que son usados ​​para combinar varias expresiones lógicas en una única expresión. En Python, los operadores lógicos son `and`, `or` y `not`, bien como las palabras clave `if`, `elif` e `else`.

> Operadores lógicos más comunes

|a|b|AND|OR|NOT|
|-|-|-|-|-|
|0|0|0|0|1
|0|1|0|1|-
|1|0|0|1|-
|1|1|1|1|0

In [ ]:
v = True
f = False

if f and v:
  print('Verdadero')
else:
  print('Falso')

Falso

In [ ]:
v = True
f = False

if v or v:
  print('Verdadero')
else:
  print('Falso')

Verdadero

In [ ]:
v = True
f = False

if not f:
  print('Verdadero')
else:
  print('Falso')

Verdadero

### `IN`

Es usado para verificar si un elemento está presente en una lista, tupla u otra colección de conjunto. La expresión `x in y` se evalúa como `True` si el elemento `x` esta presente na variávelen la variable de conjunto `y`, y como `False` en caso contrario.

Podemos verificarlo con variables de texto.

---

**Situación:**

En la escuela nos entregaron una lista con nombres de estudiantes que fueron aprobados según el promedio del semestre, pero es necesario verificar si algunos nombres están en esa lista para confirmar que los datos estén correctos.

La lista distribuida puede ser observada a continuación:

```
lista = 'Juan Pérez, María González, Pedro Rodríguez, Ana López, Carlos Martínez,
    Laura Sánchez, José García, Elena Fernández, Luis Morales, Carmen Torres,
    David Ruiz, Isabel Ramírez, Javier Díaz, Sara Herrera, Miguel Castro,
    Patricia Ortega, Francisco Vargas, Marta Jiménez, Manuel Medina, Rosa Molina,
    Alejandro Silva, Silvia Ruiz, Andrés Torres, Natalia Soto, Diego Guerrero,
    Paula Ríos, Ricardo Navarro, Alicia Cordero, Carlos Vidal, Lorena Gómez'
```

Los nombres que necesitas verificar son los siguientes:

```
nombre_1 = 'Miguel Castro'
nombre_2 = 'Marcelo Noguera'
```

In [ ]:
lista = 'Juan Pérez, María González, Pedro Rodríguez, Ana López, Carlos Martínez, Laura Sánchez, José García, Elena Fernández, Luis Morales, Carmen Torres, David Ruiz, Isabel Ramírez, Javier Díaz, Sara Herrera, Miguel Castro, Patricia Ortega, Francisco Vargas, Marta Jiménez, Manuel Medina, Rosa Molina, Alejandro Silva, Silvia Ruiz, Andrés Torres, Natalia Soto, Diego Guerrero, Paula Ríos, Ricardo Navarro, Alicia Cordero, Carlos Vidal, Lorena Gómez'

In [ ]:
nombre_1 = 'Miguel Castro'
nombre_2 = 'Marcelo Noguera'

In [ ]:
if nombre_1 in lista:
  print('El nombre está en la lista.')
else:
  print('El nombre no está en la lista.')

El nombre está en la lista.

In [ ]:
if nombre_2 in lista:
  print('El nombre está en la lista.')
else:
  print('El nombre no está en la lista.')

El nombre no está en la lista.

In [ ]:
num_1 = float(input('Ingrese el primer número: '))
num_2 = float(input('Ingrese el segundo número: '))

if num_1 > num_2:
  print(f'El primer numero es: {num_1}')
elif num_2 > num_1:
  print(f'El segundo numero : {num_2}')
else:
  print('Ambos numeros son iguales')

Ingrese el primer número: 7.5
Ingrese el segundo número: 3.3
El primer numero es: 7.5

In [ ]:
variacion = float(input('Ingrese la variación porcentual: '))

if variacion > 0:
  print(f'El indice muestra un porcentaje positivo {variacion}%.')
elif variacion < 0:
  print(f'El indice muestra un porcentaje negativo    {variacion}% .')
else:
  print('El indice muestra un porcentaje nulo')

Ingrese la variación porcentual: 0
El indice muestra un porcentaje nulo

In [ ]:
letra = input('Ingrese una letra o un numero: ').upper()
vocales = 'aeiou'
numeros = '1234567890'

if letra == vocales:
  print('La letra es una vocal')
elif letra in numeros:
  print('Es un numero')
else:
  print('La letra es una consonante')

Ingrese una letra o un numero: 5
Es un numero

In [ ]:
letra = input('Ingrese una letra: ').lower()
vocales = 'aeiou'

if letra in vocales:
  print('Es una vocal')
else:
  print('La letra es una consonante')

Ingrese una letra: j
La letra es una consonante

In [ ]:
precios = '1000, 10000, 15000, 20000, 25000, 30000'
valor_1 = '30000'

if valor_1 in precios:
  print('El valor está en la lista')
else:
  print('El valor no está en la lista')

El valor está en la lista

In [ ]:
valor_2 = input('Ingrese el valor a buscar: ')
precios = '1000, 10000, 15000, 20000, 25000, 30000'

if valor_2 in precios:
  print('El valor está en la lista')
else:
  print('El valor no está en la lista')

Ingrese el valor a buscar: 6666666
El valor no está en la lista

In [ ]:
# Recolectamos los precios de los 3 años
precio_ano1 = float(input('Ingrese el precio promedio del automóvil en el primer año: '))
precio_ano2 = float(input('Ingrese el precio promedio del automóvil en el segundo año: '))
precio_ano3 = float(input('Ingrese el precio promedio del automóvil en el tercer año: '))
# Determinamos el valor más alto mediante comparaciones
mayor = precio_ano1
if precio_ano2 > mayor:
  mayor = precio_ano2
if precio_ano3 > mayor:
  mayor = precio_ano3
# Determinamos el valor más bajo mediante comparaciones
menor = precio_ano1
if precio_ano2 < menor:
  menor = precio_ano2
if precio_ano3 < menor:
  menor = precio_ano3
# Mostramos los resultados
print(f'El precio más alto fue de R$ {mayor}.')
print(f'El precio más bajo fue de R$ {menor}.')

Ingrese el precio promedio del automóvil en el primer año: 500
Ingrese el precio promedio del automóvil en el segundo año: 1000
Ingrese el precio promedio del automóvil en el tercer año: 5
El precio más alto fue de R$ 1000.0.
El precio más bajo fue de R$ 5.0.

In [ ]:
# Recolectamos el precio de tres productos
producto1 = float(input('Ingrese el precio del primer producto: '))
producto2 = float(input('Ingrese el precio del segundo producto: '))
producto3 = float(input('Ingrese el precio del tercer producto: '))

# Usamos el operador lógico `and` para determinar cuál es el precio más bajo entre los 3 productos
# ya que esto nos permite hacer una comparación de 3 entradas
if producto1 < producto2 and producto1 < producto3:
    print('El primer producto es el más barato.')
elif producto2 < producto1 and producto2 < producto3:
    print('El segundo producto es el más barato.')
else:
    print('El tercer producto es el más barato.')

Ingrese el precio del primer producto: 67
Ingrese el precio del segundo producto: 87
Ingrese el precio del tercer producto: 99
El primer producto es el más barato.

In [ ]:
num1 = int(input('Ingrese el primer número: '))
num2 = int(input('Ingrese el segundo número: '))
num3 = int(input('Ingrese el tercer número: '))

if (num1 >= num2) and (num1 >= num3):
    print(num1)
    if num2 >= num3:
        print(num2)
        print(num3)
    else:
        print(num3)
        print(num2)
elif (num2 >= num1) and (num2 >= num3):
    print(num2)
    if num1 >= num3:
        print(num1)
        print(num3)
    else:
        print(num3)
        print(num1)
else:
    print(num3)
    if num1 >= num2:
        print(num1)
        print(num2)
    else:
        print(num2)
        print(num1)

Ingrese el primer número: 8
Ingrese el segundo número: 9
Ingrese el tercer número: 5
9
8
5

In [ ]:
5 de abril del 2025

# Estructuras de repetición

Cuando tenemos que ejecutar un mismo bloque de comandos durante varias ocasiones no es nada práctico hacerlo a mano.

**Situación**: Nos fue solicitado obtener e imprimir el promedio de 2 notas de **3 estudantes**:

In [ ]:
nota_1 = float(input('Digite la primera nota: '))
nota_2 = float(input('Digite la segunda nota: '))
print(f'El promedio es: {(nota_1 + nota_2) / 2}')

nota_1 = float(input('Digite la primera nota: '))
nota_2 = float(input('Digite la segunda nota: '))
print(f'El promedio es: {(nota_1 + nota_2) / 2}')

nota_1 = float(input('Digite la primera nota: '))
nota_2 = float(input('Digite la segunda nota: '))
print(f'El promedio es: {(nota_1 + nota_2) / 2}')

Digite la primera nota: 3.5
Digite la segunda nota: 9.7
El promedio es: 6.6
Digite la primera nota: 7.5
Digite la segunda nota: 8.9
El promedio es: 8.2
Digite la primera nota: 10
Digite la segunda nota: 2.4
El promedio es: 6.2

Ahora imaginemos una situación en que no son tan solo 3 estudiantes, sino 100 estudiantes. No sería nada interesante repetir el mismo código 100 veces, sino **ejecutar el mismo código 100 veces**.

¡Esta estructura la logramos construir con lazos de repetición!

## `WHILE`

El lazo `while` es una estructura de control de repetición en Python que permite ejecutar un bloque de código repetidamente mientras que una determinada condición sea verdadera. Su estructura es:



```
while condicion:
    # bloque de codigo
```

Vamos a construir un ejemplo con un contador de 1 hasta 10.

In [ ]:
contador = 1
while contador <= 10:
  print(contador)
  contador += 1

1
2
3
4
5
6
7
8
9
10

Ahora vamos a colectar las notas y promedios de cada alumno dentro del lazo `while`. Haremos un ejemplo con 3 promedios.

In [ ]:
contador = 1
while contador <= 3:
  nota_1 = float(input('Digite la primera nota: '))
  nota_2 = float(input('Digite la segunda nota: '))
  print(f'El promedio es: {(nota_1 + nota_2) / 2}')

  contador += 1

Digite la primera nota: 6.7
Digite la segunda nota: 8.9
El promedio es: 7.800000000000001
Digite la primera nota: 9.9
Digite la segunda nota: 10
El promedio es: 9.95
Digite la primera nota: 9.7
Digite la segunda nota: 8.5
El promedio es: 9.1

## `FOR`

El lazo `for` es un tipo de estructura de control de flujo en Python que permite iterar sobre un conjunto de elementos. Su estructura es:



```
for elemento in conjunto:
    # codigo a ser ejecutado para cada elemento
```

El lazo `for` itera sobre cada elemento del conjunto especificado y ejecuta el bloque de código dentro del lazo para cada elemento. Cuando el lazo llega al final del conjunto, este se interrumpe y el programa continúa la ejecución después del lazo.

El conjunto lo podemos generar con la función incorporada [`range()`](https://docs.python.org/3/library/functions.html#func-range). Se trata de una función capaz de generar una secuencia de números enteros. La estructura de esta función es:

```
range(inicio, fin, paso)
```

Según la documentación, `range()` genera una secuencia de números enteros a partir del valor del parámetro `inicio` hasta el valor del parámetro `fin`, de acuerdo con el valor del parámetro `paso`. Si `inicio` no es especificado, el valor por defecto es `0`. Si `paso` no es especificado, el valor por defecto es `1`.

Vamos a recrear el mismo contador `while` con el lazo `for`.

In [ ]:
for n in range(1,11):
  print(n)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for e in range(1,4):
   nota_1 = float(input('Digite la primera nota: '))
   nota_2 = float(input('Digite la segunda nota: '))
   print(f'El promedio es: {(nota_1 + nota_2) / 2}')

Digite la primera nota: 5.5
Digite la segunda nota: 6.9
El promedio es: 6.2
Digite la primera nota: 8.9
Digite la segunda nota: 9
El promedio es: 8.95
Digite la primera nota: 8.8
Digite la segunda nota: 9.8
El promedio es: 9.3

In [ ]:
inicio = int(input('Digite el valor de inicio: '))
fin = int(input('Digite el valor de fin: '))

if inicio < fin:
  for i in range(inicio + 1, fin):
    print(i)

elif inicio > fin:
  for i in range(fin + 1, inicio):
    print(i)
else:
  print('Los valores son iguales')

Digite el valor de inicio: 7
Digite el valor de fin: 19
8
9
10
11
12
13
14
15
16
17
18

In [ ]:
# Recolectamos los valores de inicio y fin
inicio = int(input('Ingresa el primer número entero: '))
fin = int(input('Ingresa el segundo número entero: '))

# Verificamos si el valor de inicio es menor que el fin
if inicio < fin:
  # Podemos imprimir los enteros entre el valor menor y el valor mayor
  for i in range(inicio + 1, fin):
    print(i)
elif inicio > fin:
  for i in range(fin + 1, inicio):
    print(i)
else: # En caso de que los números sean iguales, no podemos imprimir ninguna secuencia.
  print('Los números son iguales.')

Ingresa el primer número entero: 7
Ingresa el segundo número entero: 19
8
9
10
11
12
13
14
15
16
17
18

# Estructuras de datos

Un conjunto de elementos es una colección de items, que son almacenados juntos de manera organizada. Algunos ejemplos de conjuntos de elementos en Python son las listas, los strings y los diccionarios.

## Listas

Las listas pueden almacenar una colección de items en orden. Ellas son delimitadas por corchetes `[]` y sus elementos son separados por comas.

Estas pueden almacenar cualquier tipo de items, incluyendo números, strings, objetos, otras listas, entre otros. También nos permiten almacenar items de tipos de datos diferentes juntos en una única lista.

In [1]:
lista = ['Penélope Camacho',9.5,9.0,9.7,True]
lista

['Penélope Camacho', 9.5, 9.0, 9.7, True]

In [2]:
type(lista)

list

Las listas son organizadas en Python porque **cada elemento de la lista tiene un índice que indica su posición al interior de la lista**. Los índices comienzan en 0 van hasta el tamaño de la lista menos 1.

Tenemos entonces 5 elementos con índices que varían de 0 a 4, ordenadamente:

```
#             [0]           [1]   [2]   [3]    [4]
lista = ['Penélope Camacho', 9.5 , 9.0 , 9.7 , True]
```

En Python tenemos también los índices **negativos** que se inician en el último elemento con el valor de `-1` y avanzan en el universo de los negativos hasta llegar al 1° elemento:

```
#             [-5]         [-4]  [-3]  [-2]   [-1]
lista = ['Penélope Camacho', 9.5 , 9.0 , 9.7 , True]
```

Logramos seleccionar separadamente cada elemento a través de sus respectivos índices. Colocando el nombre de la lista y en seguida el índice que será seleccionado.

In [16]:
type(lista[-1])

int

Una forma más dinámica de trabajar item a item en una lista es utilizando un lazo `for` para leer un elemento a la vez.

In [12]:
for elemento in lista:
  print(elemento)

0

**Situación**: La nota `9.0` de Penélope necesita ser ajustada pues ganó 1 punto en su última nota por participación en clase. Entonces es necesario realizar un cambio en el índice `2` de `9.0` a `10.0`.

In [18]:
lista[2] = 10.0

IndexError: list assignment index out of range

In [20]:
lista

[0]

In [21]:
promedio = (lista[1] + lista[2] + lista[3]) / 3
promedio

IndexError: list index out of range

También podemos calcular el promedio del estudiante a partir de los datos que tenemos.

In [22]:
pregunta = '¿Quién vino primero? ¿El huevo? ¿O fue la serpiente?'
lista_palabras = pregunta.split('?')
print(lista_palabras)

['¿Quién vino primero', ' ¿El huevo', ' ¿O fue la serpiente', '']

In [23]:
mezclas = ['Pinturas: rojo, azul y amarillo',
            'Verde: mezcla de azul y amarillo',
            'Naranja: mezcla de rojo y amarillo',
            'Morado: mezcla de rojo y azul']
unificador = '. '
cadena_mezclas = unificador.join(mezclas)
print(cadena_mezclas)

Pinturas: rojo, azul y amarillo. Verde: mezcla de azul y amarillo. Naranja: mezcla de rojo y amarillo. Morado: mezcla de rojo y azul

In [25]:
listaa = ['Diego Bustos', 9.0, 7.8, 10.0, True]
listaa

['Diego Bustos', 9.0, 7.8, 10.0, True]

In [34]:
promedios = (listaa[1] + listaa[2] + listaa[3]) / 3
promedios

8.933333333333334

## Manipulación de listas

Las listas son muy útiles en Python porque nos permiten almacenar y acceder a una colección de items de manera organizada y rápida. Estas también ofrecen muchos métodos útiles para manipular los itens almacenados, como adicionar, remover, clasificar y buscar elementos.

#### Cantidad de elementos

Usamos la función [`len()`](https://docs.python.org/3/library/functions.html#len) para descubrir la cantidad de elementos de un conjunto.

In [26]:
len(listaa)

5

#### Partición

La partición de listas por indexación en Python es una técnica muy útil para seleccionar un subconjunto de elementos de una lista. Esta se realiza usando la sintaxis `lista[inicio:fin]`, donde `inicio` es el índice del primer elemento que será incluído en la partición `fin` es el índice del primer elemento que será excluído de la partición.

In [30]:
listaa[0:3]

['Diego Bustos', 9.0, 7.8]

In [31]:
listaa[:2]

['Diego Bustos', 9.0]

In [32]:
listaa[3:]

[10.0, True]

#### [`append()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=of%20list%20objects%3A-,list.append(x),-Add%20an%20item)

Añade un elemento al final de la lista.

In [44]:
listaa.append(promedios)

In [45]:
listaa

['Diego Bustos',
 9.0,
 7.8,
 10.0,
 True,
 8.933333333333334,
 8.933333333333334,
 8.933333333333334,
 8.933333333333334,
 8.933333333333334,
 8.933333333333334,
 8.933333333333334,
 8.933333333333334,
 8.933333333333334,
 8.933333333333334]

#### [`extend()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=list.extend(iterable))

Añade varios elementos al final de la lista.

Añadiremos las notas `[10.0,8.0,9.0]` En la lista de Penélope Camacho.

In [46]:
listaa.extend([10.0,8.0,9.0])

In [47]:
listaa

['Diego Bustos',
 9.0,
 7.8,
 10.0,
 True,
 8.933333333333334,
 8.933333333333334,
 8.933333333333334,
 8.933333333333334,
 8.933333333333334,
 8.933333333333334,
 8.933333333333334,
 8.933333333333334,
 8.933333333333334,
 8.933333333333334,
 10.0,
 8.0,
 9.0]

*A continuación te mostraremos lo que no puede realizarse con* `append`.

In [48]:
listaa.append([10.0,8.0,9.0])

In [49]:
listaa

['Diego Bustos',
 9.0,
 7.8,
 10.0,
 True,
 8.933333333333334,
 8.933333333333334,
 8.933333333333334,
 8.933333333333334,
 8.933333333333334,
 8.933333333333334,
 8.933333333333334,
 8.933333333333334,
 8.933333333333334,
 8.933333333333334,
 10.0,
 8.0,
 9.0,
 [10.0, 8.0, 9.0]]

#### [`remove()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=append(x).-,list.remove(x),-Remove%20the%20first)

Remueve un elemento específico de la lista.

In [50]:
listaa.remove([10.0, 8.0, 9.0])

In [51]:
listaa

['Diego Bustos',
 9.0,
 7.8,
 10.0,
 True,
 8.933333333333334,
 8.933333333333334,
 8.933333333333334,
 8.933333333333334,
 8.933333333333334,
 8.933333333333334,
 8.933333333333334,
 8.933333333333334,
 8.933333333333334,
 8.933333333333334,
 10.0,
 8.0,
 9.0]

In [53]:
razas_de_perros = ['Labrador Retriever',
                   'Bulldog Francés',
                   'Pastor Alemán',
                   'Poodle']

In [54]:
razas_de_perros.insert(1, 'Golden Retriever')
razas_de_perros

['Labrador Retriever',
 'Golden Retriever',
 'Bulldog Francés',
 'Pastor Alemán',
 'Poodle']

In [55]:
razas_de_perros.pop(1)

'Golden Retriever'

In [56]:
razas_de_perros

['Labrador Retriever', 'Bulldog Francés', 'Pastor Alemán', 'Poodle']

In [57]:
razas_de_perros.index('Pastor Alemán')

2

In [58]:
razas_de_perros.sort()
razas_de_perros

['Bulldog Francés', 'Labrador Retriever', 'Pastor Alemán', 'Poodle']

## Diccionario

Los diccionarios son un tipo de estructura de datos que almacenan pares de *llave-valor*. Estos son delimitados por llaves `{}` y los pares *llave-valor* son separados por comas.

```
diccionario = {llave: valor}
```

La **llave** es un elemento único que identifica a un valor en el diccionario, mientras que el **valor** es el item que será almacenado para la llave. Las llaves y sus respectivos valores se pueden emplear para **cualquier tipo de dato**.

Los diccionarios son útiles para almacenar y acceder a los datos de manera organizada y rápida. Se trata de un tipo de conjunto de elementos en Python, pues almacenan una colección de items.

In [60]:
diccionario = {'Llave_1': 1,
               'Llave_2': 2}

diccionario
diccionario

{'Llave_1': 1, 'Llave_2': 2}

In [61]:
type(diccionario)

dict

---
**Situación:**

Vamos a crear un conjunto de datos con las informaciones de matrícula de un estudiante. Los datos son los siguientes:

- matrícula: 2000168933
- día de registro: 25
- mes de registro: 10
- grupo: 2E

In [65]:
estudiante = {'matrícula': 2000168933,
              'día de registro': 25,
              'mes de registro': 10,
              'grupo': '2E'
              }

estudiante

{'matrícula': 2000168933,
 'día de registro': 25,
 'mes de registro': 10,
 'grupo': '2E'}

In [68]:
estudiante['matrícula']

2000168933

In [69]:
estudiante['grupo']

'2E'

Es posible sustituir los valores dentro de una llave. Por ejemplo, recibimos la información de que el grupo del estudiante que registramos cambio a `'2G'` y ahora necesitamos cambiar el valor de la llave `'grupo'`.

In [71]:
estudiante['grupo'] = '2G'

estudiante

{'matrícula': 2000168933,
 'día de registro': 25,
 'mes de registro': 10,
 'grupo': '2G'}

También podemos añadir otros datos al diccionario. Vamos a añadir la información sobre la modalidad de estudio, nuestro estudiante estudiará inicialemente en la modalidad EAD.

Definiremos una llave llamada `'modalidad'` con el valor `'EAD'`.

In [72]:
estudiante['modalidad'] = 'EAD'

In [73]:
estudiante

{'matrícula': 2000168933,
 'día de registro': 25,
 'mes de registro': 10,
 'grupo': '2G',
 'modalidad': 'EAD'}

In [74]:
len(estudiante)

5

## Profundizando en diccionarios

#### [`pop()`](https://python-reference.readthedocs.io/en/latest/docs/dict/pop.html)
Remueve un item de un diccionario y lo representa en la salida.

In [75]:
estudiante.pop('grupo')

'2G'

In [76]:
estudiante

{'matrícula': 2000168933,
 'día de registro': 25,
 'mes de registro': 10,
 'modalidad': 'EAD'}

#### [`items()`](https://python-reference.readthedocs.io/en/latest/docs/dict/items.html)
Retorna una lista de pares `llave-valor` del diccionario.

In [77]:
estudiante.items()

dict_items([('matrícula', 2000168933), ('día de registro', 25), ('mes de registro', 10), ('modalidad', 'EAD')])

#### [`keys()`](https://python-reference.readthedocs.io/en/latest/docs/dict/keys.html)
Retorna una lista de las llaves del diccionario.

In [78]:
estudiante.keys()

dict_keys(['matrícula', 'día de registro', 'mes de registro', 'modalidad'])

#### [`values()`](https://python-reference.readthedocs.io/en/latest/docs/dict/values.html)
Retorna una lista de los valores del diccionario.

In [79]:
estudiante.values()

dict_values([2000168933, 25, 10, 'EAD'])

### Lectura de valores con el lazo `for`

In [82]:
for Llave in estudiante.keys():
  print(Llave)

matrícula
día de registro
mes de registro
modalidad

In [84]:
for Llave, valor in estudiante.items():
  print(Llave,'-->', valor)

matrícula --> 2000168933
día de registro --> 25
mes de registro --> 10
modalidad --> EAD

In [85]:
precios = [100.0, 400.0, 200.0]
suma = sum(precios)
suma

700.0

In [86]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [87]:
lista = [1,2,3]
dir(lista)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']